{% load static %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>AgriVestAfrica - Blog</title>
  {% include 'Extras/meta.html' %}
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Baloo+2&display=swap');
  </style>
  <link rel="stylesheet" href="{% static 'extras/gallery.css' %}">
  <header>
     <!--Navbar-->
    {% include 'navbar.html' %}
    <!-- Full Page Intro -->
    <div class="view"
      style="background-image: url('/media/img/soybean-isolated-white-background_74190-7801.webp'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
      <!-- Mask & flexbox options-->
      <div class="mask rgba-gradient d-flex justify-content-center align-items-center">
        <!-- Content -->
        <div class="container">
          <br>
          <br>
          <br>
          <!--Grid row-->
          <div class="row">
            <!--Grid column-->
            <div class="col-md-6 white-text text-center text-md-left mt-xl-5 mb-5 ">
              <h1 class="h1-responsive font-weight-bold mt-sm-5 text-left animated tada slower">Our Blog</h1>
              <hr class="hr-light">
            </div>
          </div>

        </div>
        <!--Grid row-->
      </div>
      <!-- Content -->
    </div>
    <!-- Mask & flexbox options-->
    </div>
    <!-- Full Page Intro -->
  </header>
  <!-- Main navigation -->
</head>

<body>
  <br>
  <br>
  <br>

  <div class="container my-5">


    <!--Section: Content-->
    <section class="magazine-section dark-grey-text">
  
      <!-- Grid row -->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-lg-6 col-md-3 mb-4">
  
          <!-- Featured news -->
          <div class="single-news">
  
            <!-- Image -->
            <div class="view overlay rounded z-depth-1-half mb-4">
              <img class="img-fluid" src="/media/img/Agrivest (2).gif" alt="Sample image">
              <a>
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
  
            <!-- Data -->
            <div class="news-data d-flex justify-content-between">
              
              <p class="font-weight-bold dark-grey-text"><i class="fas fa-clock-o pr-2"></i>18/01/2023</p>
            </div>
  
            <!-- Excerpt -->
            <h3 class="font-weight-bold dark-grey-text mb-3"><a>Agrivest Africa Launches</a></h3>
            <p class="dark-grey-text">Sed ut perspiciatis unde voluptatem omnis iste natus
              error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo
              inventore veritatis et quasi architecto beatae vitae explicabo. Duis aute irure dolor in
              reprehenderit in voluptate velit esse cillum dolore eu fugiat.</p>
  
          </div>
          <!-- Featured news -->
  
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-lg-6 col-md-3 mb-4">
  
          <!-- Small news -->
          <div class="single-news mb-4">
  
            <!-- Grid row -->
            <div class="row">
  
              <!-- Grid column -->
              <div class="col-md-3">
  
                <!--Image-->
                <div class="view overlay rounded z-depth-1 mb-4">
                  <img class="img-fluid" src="/media/img/Agrivest.jpg" alt="Sample image">
                  <a>
                    <div class="mask rgba-white-slight"></div>
                  </a>
                </div>
  
              </div>
              <!-- Grid column -->
  
              <!-- Grid column -->
              <div class="col-md-9">
  
                <!-- Excerpt -->
                <p class="font-weight-bold dark-grey-text">13/01/2023</p>
                <div class="d-flex justify-content-between">
                  <div class="col-11 text-truncate pl-0 mb-3">
                    <a href="https://www.facebook.com/agrivestafrica/" class="dark-grey-text">At vero eos et accusamus et iusto odio dignissimos
                      ducimus qui blanditiis</a>
                  </div>
                  <a><i class="fas fa-angle-double-right"></i></a>
                </div>
  
              </div>
              <!-- Grid column -->
  
            </div>
            <!-- Grid row -->
  
          </div>
          <!-- Small news -->
  
          <!-- Small news -->
          <div class="single-news mb-4">
  
            <!-- Grid row -->
            <div class="row">
  
              <!-- Grid column -->
              <div class="col-md-3">
  
                <!--Image-->
                <div class="view overlay rounded z-depth-1 mb-4">
                  <img class="img-fluid" src="/media/img/WhatsApp Image 2023-01-21 at 8.52.39 PM.jpeg"
                    alt="Sample image">
                  <a>
                    <div class="mask rgba-white-slight"></div>
                  </a>
                </div>
  
              </div>
              <!-- Grid column -->
  
              <!-- Grid column -->
              <div class="col-md-9">
  
                <!-- Excerpt -->
                <p class="font-weight-bold dark-grey-text">25/01/2023</p>
                <div class="d-flex justify-content-between">
                  <div class="col-11 text-truncate pl-0 mb-3">
                    <a href="https://www.facebook.com/agrivestafrica/" class="dark-grey-text">Itaque earum rerum hic tenetur a sapiente delectus</a>
                  </div>
                  <a><i class="fas fa-angle-double-right"></i></a>
                </div>
  
              </div>
              <!-- Grid column -->
  
            </div>
            <!-- Grid row -->
  
          </div>
          <!-- Small news -->
  
          <!-- Small news -->
          <div class="single-news mb-4">
  
            <!-- Grid row -->
            <div class="row">
  
              <!-- Grid column -->
              <div class="col-md-3">
  
                <!--Image-->
                <div class="view overlay rounded z-depth-1 mb-4">
                  <img class="img-fluid" src="/media/img/WhatsApp Image 2023-01-21 at 8.52.40 PM.jpeg" alt="Sample image">
                  <a>
                    <div class="mask rgba-white-slight"></div>
                  </a>
                </div>
  
              </div>
              <!-- Grid column -->
  
              <!-- Grid column -->
              <div class="col-md-9">
  
                <!-- Excerpt -->
                <p class="font-weight-bold dark-grey-text">11/01/2023</p>
                <div class="d-flex justify-content-between">
                  <div class="col-11 text-truncate pl-0 mb-3">
                    <a href="https://www.facebook.com/agrivestafrica/" class="dark-grey-text">Soluta nobis est eligendi optio cumque nihil impedit quo
                      minus</a>
                  </div>
                  <a><i class="fas fa-angle-double-right"></i></a>
                </div>
  
              </div>
              <!-- Grid column -->
  
            </div>
            <!-- Grid row -->
  
          </div>
          <!-- Small news -->
  
          <!-- Small news -->
          <div class="single-news">
  
            <!-- Grid row -->
            <div class="row">
  
              <!-- Grid column -->
              <div class="col-md-3">
  
                <!--Image-->
                <div class="view overlay rounded z-depth-1 mb-md-0 mb-4">
                  <img class="img-fluid" src="/media/img/WhatsApp Image 2023-01-21 at 8.52.38 PM.jpeg" alt="Sample image">
                  <a>
                    <div class="mask rgba-white-slight"></div>
                  </a>
                </div>
  
              </div>
              <!-- Grid column -->
  
              <!-- Grid column -->
              <div class="col-md-9">
  
                <!-- Excerpt -->
                <p class="font-weight-bold dark-grey-text">23/01/2023</p>
                <div class="d-flex justify-content-between">
                  <div class="col-11 text-truncate pl-0 mb-lg-3">
                    <a href="https://www.facebook.com/agrivestafrica/" class="dark-grey-text">Duis aute irure dolor in reprehenderit in voluptate</a>
                  </div>
                  <a><i class="fas fa-angle-double-right"></i></a>
                </div>
  
              </div>
              <!-- Grid column -->
  
            </div>
            <!-- Grid row -->
  
          </div>
          <!-- Small news -->
  
        </div>
        <!--Grid column-->
  
      </div>
      <!-- Grid row -->
  
    </section>
    <!--Section: Content-->
  
  
  </div>
  <!-- Footer Elements -->
  <footer class="page-footer font-small green darken-3">
    <!-- Copyright -->
    {% include 'footer.html' %}
    <!-- Copyright -->




    <script type="text/javascript"
      src="https://mdbcdn.b-cdn.net/wp-content/themes/mdbootstrap4/docs-app/js/bundles/4.20.0/compiled.min.js"></script>


    <script type="text/javascript"
      src="https://mdbcdn.b-cdn.net/wp-content/themes/mdbootstrap4/docs-app/js/dist/search-v4/search.min.js"></script>
    <script src="https://mdbcdn.b-cdn.net/wp-content/themes/mdbootstrap4/docs-app/js/dist/main.min.js"></script>



</body>

</html>