<!DOCTYPE html>
<html lang="en">

<head>
  <title>AgriVestAfrica - Faq</title>
  {% include 'Extras/meta.html' %}
  <link rel="shortcut icon" href="/media/img/cocoa-pods-with-cocoa-leaf-white_41471-6709.webp" />
  <link rel="canonical" href="https://mdbootstrap.com/docs/b4/jquery/components/demo/" />

  <script data-cfasync="false">
    (function (w, d, s, l, i) {
      w[l] = w[l] || []; w[l].push({
        'gtm.start':
          new Date().getTime(), event: 'gtm.js'
      }); var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
          '//www.googletagmanager.com/gtm.' + 'js?id=' + i + dl; f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-W7MBMN');
  </script>




  <style>
    html,
    body,
    header,
    .view {
      height: 80%;
    }

    @media (max-width: 740px) {

      html,
      body,
      header,
      .view {
        height: 400px;
      }
    }

    @media (min-width: 800px) and (max-width: 850px) {

      html,
      body,
      header,
      .view {
        height: 500px;
      }
    }

    .btn .fa {
      margin-left: 3px;
    }

    .top-nav-collapse {
      background: -moz-linear-gradient(45deg, rgba(4, 2, 17, 0.7), rgba(13, 211, 13, 0.7) 100%);
      background: -webkit-linear-gradient(45deg, rgba(39, 126, 4, 0.7), rgba(11, 233, 66, 0.7) 100%);
      background: -webkit-gradient(linear, 45deg, from(rgba(2, 168, 10, 0.7)), to(rgba(29, 210, 177, 0.7)));
      background: -o-linear-gradient(45deg, rgba(26, 77, 6, 0.7), rgba(12, 228, 48, 0.7) 100%);
      background: linear-gradient(to 45deg, rgba(4, 68, 4, 0.7), rgba(27, 194, 12, 0.7) 100%);

    }

    .navbar:not(.top-nav-collapse) {
      background: transparent !important;
    }

    @media (max-width: 991px) {
      .navbar:not(.top-nav-collapse) {
        background: #06aa14 !important;
      }
    }

    .btn-white {
      color: black !important;
    }



    .rgba-gradient {
      background: -moz-linear-gradient(45deg, rgba(42, 155, 7, 0.7), rgba(29, 210, 177, 0.7) 100%);
      background: -webkit-linear-gradient(45deg, rgba(23, 100, 4, 0.7), rgba(29, 210, 177, 0.7) 100%);
      background: -webkit-gradient(linear, 45deg, from(rgba(24, 122, 5, 0.7)), to(rgba(29, 210, 177, 0.7)));
      background: -o-linear-gradient(45deg, rgba(38, 99, 3, 0.7), rgba(29, 210, 177, 0.7) 100%);
      background: linear-gradient(to 45deg, rgba(10, 54, 2, 0.7), rgba(29, 210, 177, 0.7) 100%);
    }

    .rgba-gradient1 {
      background: -moz-linear-gradient(45deg, rgba(4, 2, 17, 0.7), rgba(29, 210, 177, 0.7) 60%);
      background: -webkit-linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 40%);
      background: -webkit-gradient(linear, 45deg, from(rgba(42, 27, 161, 0.7)), to(rgba(29, 210, 177, 0.5)));
      background: -o-linear-gradient(45deg, rgba(42, 27, 161, 0.2), rgba(29, 210, 177, 0.7) 50%);
      background: linear-gradient(to 45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 20%);
    }

    .rgba-gradient2 {
      background: -moz-linear-gradient(45deg, rgba(63, 1, 71, 0.1), rgba(29, 210, 177, 0.3) 60%);
      background: -webkit-linear-gradient(45deg, rgba(230, 11, 200, 0.1), rgba(29, 210, 177, 0.3) 40%);
      background: -webkit-gradient(linear, 45deg, from(rgba(212, 19, 203, 0.1)), to(rgba(29, 210, 177, 0.3)));
      background: -o-linear-gradient(45deg, rgba(209, 10, 166, 0.1), rgba(189, 29, 210, 0.2) 50%);
      background: linear-gradient(to 45deg, rgba(78, 4, 107, 0.2), rgba(180, 16, 158, 0.2) 20%);
    }
  </style>

  <header>
       <!--Navbar-->
       {% include 'navbar.html' %}
      <!-- Full Page Intro -->
    <div class="view"
      style="background-image: url('/media/img/soybean-isolated-white-background_74190-7801.webp'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
      <!-- Mask & flexbox options-->
      <div class="mask rgba-gradient d-flex justify-content-center align-items-center">
        <!-- Content -->
        <div class="container">
          <br>
          <br>
          <br>
          <!--Grid row-->
          <div class="row">
            <!--Grid column-->
            <div class="col-md-6 white-text text-center text-md-left mt-xl-5 mb-5 ">
              <h1 class="h1-responsive font-weight-bold mt-sm-5 text-left animated tada slower">FAQ</h1>
              <hr class="hr-light">
            </div>
          </div>

        </div>
        <!--Grid row-->
      </div>
      <!-- Content -->
    </div>
    <!-- Mask & flexbox options-->
    </div>
    <!-- Full Page Intro -->
  </header>
  <!-- Main navigation -->
</head>

<body>

  <div class="container my-5">


    <!--Section: Content-->
    <section>
      <!-- Section description -->
      <p class=" text-muted mx-auto mt-6 pt-2 mb-5 text-center">Got a question? We've got answers. If you have some
        other questions, see our support center.</p>

      <div class="row">
        <div class="col-md-12 col-lg-10 mx-auto mb-5">

          <!--Accordion wrapper-->
          <div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="true">

            <!-- Accordion card -->
            <div class="card border-top border-bottom-0 border-left border-right border-light">

              <!-- Card header -->
              <div class="card-header border-bottom border-light" role="tab" id="headingOne1">
                <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne1" aria-expanded="true"
                  aria-controls="collapseOne1">
                  <h6 class="text-muted  text-center green-text font-weight-normal mb-0">
                    Who am I as an Agrivestor? <i class="fas fa-angle-down rotate-icon"></i>
                  </h6>
                </a>
              </div>

              <!-- Card body -->
              <div id="collapseOne1" class="collapse show" role="tabpanel" aria-labelledby="headingOne1"
                data-parent="#accordionEx">
                <div class="card-body">
                  As an Agrivestor, you are an individual or organization that provides funding or capital specifically
                  for agriculture-related ventures in exchange for a return on your funds. By funding sustainable
                  agricultural practices through Agrivest Africa, you are playing an important role in improving food
                  security and reducing poverty in Africa.
                </div>
              </div>

            </div>
            <!-- Accordion card -->

            <!-- Accordion card -->
            <div class="card border-bottom-0 border-left border-right border-light">

              <!-- Card header -->
              <div class="card-header border-bottom border-light" role="tab" id="headingTwo2">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseTwo2"
                  aria-expanded="false" aria-controls="collapseTwo2">
                  <h6 class="text-muted green-text  text-center font-weight-normal mb-0">
                    Are all financiers on Agrivest Africa considered Agrivestors? <i
                      class="fas fa-angle-down rotate-icon"></i>
                  </h6>
                </a>
              </div>

              <!-- Card body -->
              <div id="collapseTwo2" class="collapse" role="tabpanel" aria-labelledby="headingTwo2"
                data-parent="#accordionEx">
                <div class="card-body">
                  Yes, all financiers on Agrivest Africa are considered Agrivestors, as they provide funding
                  specifically for agriculture-related ventures through our platform.
                </div>
              </div>

            </div>
            <!-- Accordion card -->

            <!-- Accordion card -->
            <div class="card border-bottom-0 border-left border-right border-light">

              <!-- Card header -->
              <div class="card-header border-bottom border-light" role="tab" id="headingThree3">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseThree3"
                  aria-expanded="false" aria-controls="collapseThree3">
                  <h6 class="text-muted  text-center green-text font-weight-normal mb-0">
                    Who is a farmer?<i class="fas fa-angle-down rotate-icon"></i>
                  </h6>
                </a>
              </div>

              <!-- Card body -->
              <div id="collapseThree3" class="collapse" role="tabpanel" aria-labelledby="headingThree3"
                data-parent="#accordionEx">
                <div class="card-body">
                  A farmer is an individual or organization that grows crops or raises livestock for food, fuel, or
                  other products. They may own or manage a farm, and they may work with other farmers or agricultural
                  businesses to produce and sell their products.
                </div>
              </div>

            </div>
            <!-- Accordion card -->

            <!-- Accordion card -->
            <div class="card border-left border-right border-light">

              <!-- Card header -->
              <div class="card-header border-bottom border-light" role="tab" id="headingThree5">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseThree5"
                  aria-expanded="false" aria-controls="collapseThree4">
                  <h6 class="green-text  text-center text-muted font-weight-normal mb-0">
                    What is an aggregator? <i class="fas fa-angle-down rotate-icon"></i>
                  </h6>
                </a>
              </div>

              <!-- Card body -->
              <div id="collapseThree5" class="collapse" role="tabpanel" aria-labelledby="headingThree4"
                data-parent="#accordionEx">
                <div class="card-body">
                  An aggregator is an entity that collects and bundles agricultural products from multiple producers and
                  then sells them to off-takers or other buyers. They can be cooperatives, private companies, or other
                  organizations that help farmers access larger markets, negotiate better prices, and access services
                  such as transportation and storage.
                </div>
              </div>

            </div>
            <!-- Accordion card -->
            <!-- Accordion card -->
            <div class="card border-left border-right border-light">

              <!-- Card header -->
              <div class="card-header border-bottom border-light" role="tab" id="headingThree6">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseThree6"
                  aria-expanded="false" aria-controls="collapseThree4">
                  <h6 class="green-text  text-center text-muted font-weight-normal mb-0">
                    What crops does Agrivest Africa deal in? <i class="fas fa-angle-down rotate-icon"></i>
                  </h6>
                </a>
              </div>

              <!-- Card body -->
              <div id="collapseThree6" class="collapse" role="tabpanel" aria-labelledby="headingThree4"
                data-parent="#accordionEx">
                <div class="card-body">
                  As a start-up, Agrivest Africa's main focus is on five crops: rice, maize, cowpea, groundnut, and soya
                  beans. For the medium term, the company seeks to expand into other farm produce such as vegetables and
                  legumes. The company's long-term goal is to actively support the farming of tree crops.
                </div>
              </div>

            </div>
            <!-- Accordion card -->
            <!-- Accordion card -->
            <div class="card border-left border-right border-light">

              <!-- Card header -->
              <div class="card-header border-bottom border-light" role="tab" id="headingThree4">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseThree7"
                  aria-expanded="false" aria-controls="collapseThree4">
                  <h6 class="green-text  text-center text-muted font-weight-normal mb-0">
                    Where are Agrivest Africa's farms located? <i class="fas fa-angle-down rotate-icon"></i>
                  </h6>
                </a>
              </div>

              <!-- Card body -->
              <div id="collapseThree7" class="collapse" role="tabpanel" aria-labelledby="headingThree7"
                data-parent="#accordionEx">
                <div class="card-body">
                  Our farms are currently located in 5 districts in the Northern Region of Ghana. They are; Zabzugu,
                  Karaga, Tolon, Kumbungu and Mion.
                </div>
              </div>

            </div>
            <!-- Accordion card -->

            <!-- Accordion card -->
            <div class="card border-left border-right border-light">

              <!-- Card header -->
              <div class="card-header border-bottom border-light" role="tab" id="headingThree8">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseThree8"
                  aria-expanded="false" aria-controls="collapseThree4">
                  <h6 class="green-text  text-center text-muted font-weight-normal mb-0">
                    How much can I expect to earn from my sponsorship in Agrivest Africa? <i
                      class="fas fa-angle-down rotate-icon"></i>
                  </h6>
                </a>
              </div>

              <!-- Card body -->
              <div id="collapseThree8" class="collapse" role="tabpanel" aria-labelledby="headingThree8"
                data-parent="#accordionEx">
                <div class="card-body">
                  The return on sponsorship can vary depending on a variety of factors, such as the type of crop, the
                  location of the farm, and the success of the project We usually give a range of returns depending on
                  the crop or commodity, whilst aiming at always meeting the highest return percentage.
                </div>

              </div>
              <!-- Accordion card -->




            </div>
            <!-- Accordion wrapper -->
            <!-- Accordion card -->
            <div class="card border-left border-right border-light">

              <!-- Card header -->
              <div class="card-header border-bottom border-light" role="tab" id="headingThree9">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseThree9"
                  aria-expanded="false" aria-controls="collapseThree4">
                  <h6 class="green-text  text-center text-muted font-weight-normal mb-0">
                    How do I know what my funds are being used for?<i class="fas fa-angle-down rotate-icon"></i>
                  </h6>
                </a>
              </div>

              <!-- Card body -->
              <div id="collapseThree9" class="collapse" role="tabpanel" aria-labelledby="headingThree8"
                data-parent="#accordionEx">
                <div class="card-body">
                  We provide regular updates on the progress of the farms and the returns on sponsorship via email and
                  other means of communication. Additionally, you can track your sponsorship by visiting our website and
                  logging into your account.
                </div>

              </div>
              <!-- Accordion card -->




            </div>
            <!-- Accordion wrapper -->
            <!-- Accordion card -->
            <div class="card border-left border-right border-light">

              <!-- Card header -->
              <div class="card-header border-bottom border-light" role="tab" id="headingThree10">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseThree10"
                  aria-expanded="false" aria-controls="collapseThree4">
                  <h6 class="green-text  text-center text-muted font-weight-normal mb-0">
                    What is the minimum amount I can sponsorship?<i class="fas fa-angle-down rotate-icon"></i>
                  </h6>
                </a>
              </div>

              <!-- Card body -->
              <div id="collapseThree10" class="collapse" role="tabpanel" aria-labelledby="headingThree8"
                data-parent="#accordionEx">
                <div class="card-body">
                  he minimum sponsorship amount can vary depending on the project and the type of sponsorship. Please
                  visit our website or contact us at info@agrivestafrica.com for more information on specific
                  partnership opportunities and their minimum partnership amounts.
                </div>

              </div>
              <!-- Accordion card -->




            </div>
            <!-- Accordion wrapper -->
            <!-- Accordion card -->
            <div class="card border-left border-right border-light">

              <!-- Card header -->
              <div class="card-header border-bottom border-light" role="tab" id="headingThree11">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseThree11"
                  aria-expanded="false" aria-controls="collapseThree4">
                  <h6 class="green-text  text-center text-muted font-weight-normal mb-0">
                    What is the duration of the sponsorship? <i class="fas fa-angle-down rotate-icon"></i>
                  </h6>
                </a>
              </div>

              <!-- Card body -->
              <div id="collapseThree11" class="collapse" role="tabpanel" aria-labelledby="headingThree8"
                data-parent="#accordionEx">
                <div class="card-body">
                  The duration of the sponsorship vary on the project and the type of partnership. Some projects may be
                  short-term, such as a single crop season, while others may be longer-term, such as sponsorship in tree
                  crops. Please visit our website or contact us at info@agrivestafrica.com for more information on
                  specific partnership opportunities and their duration.
                </div>

              </div>
              <!-- Accordion card -->




            </div>
            <!-- Accordion wrapper -->
            <!-- Accordion card -->
            <div class="card border-left border-right border-light">

              <!-- Card header -->
              <div class="card-header border-bottom border-light" role="tab" id="headingThree12">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseThree12"
                  aria-expanded="false" aria-controls="collapseThree4">
                  <h6 class="green-text  text-center text-muted font-weight-normal mb-0">
                    Is there a way to withdraw my sponsorship before the end of the duration?<i
                      class="fas fa-angle-down rotate-icon"></i>
                  </h6>
                </a>
              </div>

              <!-- Card body -->
              <div id="collapseThree12" class="collapse" role="tabpanel" aria-labelledby="headingThree8"
                data-parent="#accordionEx">
                <div class="card-body">
                  No. Withdrawal of the sponsorship before the end of the duration is not possible. Your funds are fully
                  invested in your sponsored farm at the beginning of the project and can only materialize after
                  harvest. We recommend that you visit our website or contact us at info@agrivestafrica.com for all
                  required information on specific partnership opportunities before signing up
                </div>

              </div>
              <!-- Accordion card -->




            </div>
            <!-- Accordion wrapper -->
            <!-- Accordion card -->
            <div class="card border-left border-right border-light">

              <!-- Card header -->
              <div class="card-header border-bottom border-light" role="tab" id="headingThree13">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseThree13"
                  aria-expanded="false" aria-controls="collapseThree4">
                  <h6 class="green-text  text-center text-muted font-weight-normal mb-0">
                    How often will I receive updates on my sponsorship? <i class="fas fa-angle-down rotate-icon"></i>
                  </h6>
                </a>
              </div>

              <!-- Card body -->
              <div id="collapseThree13" class="collapse" role="tabpanel" aria-labelledby="headingThree8"
                data-parent="#accordionEx">
                <div class="card-body">
                  We provide regular i.e (Monthly for seasonal crops and bi-weekly for vegetables) updates on the
                  progress of the farms and the returns on sponsorship via email and other means of communication. You
                  can also log into your account on our website to track your sponsorship.

                </div>

              </div>
              <!-- Accordion card -->




            </div>
            <!-- Accordion wrapper -->
            <!-- Accordion card -->
            <div class="card border-left border-right border-light">

              <!-- Card header -->
              <div class="card-header border-bottom border-light" role="tab" id="headingThree14">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseThree14"
                  aria-expanded="false" aria-controls="collapseThree4">
                  <h6 class="green-text  text-center text-muted font-weight-normal mb-0">
                    Does Agrivest Africa provide insurance for projects? <i class="fas fa-angle-down rotate-icon"></i>
                  </h6>
                </a>
              </div>

              <!-- Card body -->
              <div id="collapseThree14" class="collapse" role="tabpanel" aria-labelledby="headingThree8"
                data-parent="#accordionEx">
                <div class="card-body">
                  Yes, we insure farms that meet insurance requirements against natural disasters. However, farming
                  involves other risks that insurance may not cover. Also, in case of eventualities, insurance premiums
                  do not cover ROS and the refund of capital. More about insurance premiums is included in our
                  sponsorship agreement.
                </div>

              </div>
              <!-- Accordion card -->




            </div>
            <!-- Accordion wrapper -->
            <!-- Accordion card -->
            <div class="card border-left border-right border-light">

              <!-- Card header -->
              <div class="card-header border-bottom border-light" role="tab" id="headingThree15">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseThree15"
                  aria-expanded="false" aria-controls="collapseThree4">
                  <h6 class="green-text  text-center text-muted font-weight-normal mb-0">
                    Is Agrivest Africa a registered company? <i class="fas fa-angle-down rotate-icon"></i>
                  </h6>
                </a>
              </div>

              <!-- Card body -->
              <div id="collapseThree15" class="collapse" role="tabpanel" aria-labelledby="headingThree8"
                data-parent="#accordionEx">
                <div class="card-body">
                  Yes, Agrivest Africa is a fully registered social enterprise registered with registration number
                  CS20*****22 at the Registrar General's Department- Ghana. We also have a license with Ghana
                  Commodities Exchange (GCX) and we are working on obtaining another license from Ghana Securities and
                  Exchange Commission (SEC). GCX works with SEC. More on our registration is included in the farm
                  sponsorship agreement.
                </div>

              </div>
              <!-- Accordion card -->




            </div>
            <!-- Accordion wrapper -->
            <!-- Accordion card -->
            <div class="card border-left border-right border-light">

              <!-- Card header -->
              <div class="card-header border-bottom border-light" role="tab" id="headingThree16">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseThree16"
                  aria-expanded="false" aria-controls="collapseThree4">
                  <h6 class="green-text  text-center text-muted font-weight-normal mb-0">
                    What social issues does Agrivest Africa tackle? <i class="fas fa-angle-down rotate-icon"></i>
                  </h6>
                </a>
              </div>

              <!-- Card body -->
              <div id="collapseThree16" class="collapse" role="tabpanel" aria-labelledby="headingThree8"
                data-parent="#accordionEx">
                <div class="card-body">
                  Agrivest Africa engages in standard farm practices and works with district assemblies, NGOs and also
                  our in-house professionals to provide consistent extension services throughout the season. We also
                  take measures to ensure that our farms are protected from theft and other security threats, to ensure
                  the safety of our projects.
                </div>

              </div>
              <!-- Accordion card -->




            </div>
            <!-- Accordion wrapper -->
            <!-- Accordion card -->
            <div class="card border-left border-right border-light">

              <!-- Card header -->
              <div class="card-header border-bottom border-light" role="tab" id="headingThree17">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseThree17"
                  aria-expanded="false" aria-controls="collapseThree4">
                  <h6 class="green-text  text-center text-muted font-weight-normal mb-0">
                    Does Agrivest Africa deal with export and import of farm produce?<i
                      class="fas fa-angle-down rotate-icon"></i>
                  </h6>
                </a>
              </div>

              <!-- Card body -->
              <div id="collapseThree17" class="collapse" role="tabpanel" aria-labelledby="headingThree8"
                data-parent="#accordionEx">
                <div class="card-body">
                  Yes, Agrivest Africa has a marketplace on its website that allows businesses and individuals from
                  around the world to buy from us. We also have plans to expand our cross-border payment mode to make it
                  easier for people to invest in our farms and also buy from us.
                </div>

              </div>
              <!-- Accordion card -->
            </div>
            <!-- Accordion wrapper -->
            <!-- Accordion card -->
            <div class="card border-left border-right border-light">

              <!-- Card header -->
              <div class="card-header border-bottom border-light" role="tab" id="headingThree18">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseThree18"
                  aria-expanded="false" aria-controls="collapseThree4">
                  <h6 class="green-text  text-center text-muted font-weight-normal mb-0">
                    What currencies are accepted on Agrivest Africa for sponsorship?<i
                      class="fas fa-angle-down rotate-icon"></i>
                  </h6>
                </a>
              </div>

              <!-- Card body -->
              <div id="collapseThree18" class="collapse" role="tabpanel" aria-labelledby="headingThree8"
                data-parent="#accordionEx">
                <div class="card-body">
                  Agrivest Africa accepts payments in Ghanaian Cedis, US Dollars, Euros, and Pounds for sponsorship.
                </div>

              </div>
              <!-- Accordion card -->




            </div>
            <!-- Accordion wrapper -->
              <!-- Accordion card -->
              <div class="card border-left border-right border-light">

                <!-- Card header -->
                <div class="card-header border-bottom border-light" role="tab" id="headingThree19">
                  <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseThree19"
                    aria-expanded="false" aria-controls="collapseThree4">
                    <h6 class="green-text  text-center text-muted font-weight-normal mb-0">
                      What currencies are accepted on Agrivest Africa for buying farm produce?<i
                        class="fas fa-angle-down rotate-icon"></i>
                    </h6>
                  </a>
                </div>
  
                <!-- Card body -->
                <div id="collapseThree19" class="collapse" role="tabpanel" aria-labelledby="headingThree8"
                  data-parent="#accordionEx">
                  <div class="card-body">
                    Agrivest Africa accepts payments in Ghanaian Cedis, US Dollars, Euros, and Pounds for buying farm produce.
                  </div>
  
                </div>
                <!-- Accordion card -->
  
  
  
  
              </div>
              <!-- Accordion wrapper -->
               <!-- Accordion card -->
               <div class="card border-left border-right border-light">

                <!-- Card header -->
                <div class="card-header border-bottom border-light" role="tab" id="headingThree20">
                  <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseThree20"
                    aria-expanded="false" aria-controls="collapseThree4">
                    <h6 class="green-text  text-center text-muted font-weight-normal mb-0">
                      What exchange rate is used for transactions on Agrivest Africa?<i
                        class="fas fa-angle-down rotate-icon"></i>
                    </h6>
                  </a>
                </div>
  
                <!-- Card body -->
                <div id="collapseThree20" class="collapse" role="tabpanel" aria-labelledby="headingThree8"
                  data-parent="#accordionEx">
                  <div class="card-body">
                    The exchange rate of the Bank of Ghana prevails at the time of payment for all transactions on Agrivest Africa. This means that the exchange rate used to calculate the equivalent amount in the local currency will be the rate that the Bank of Ghana has set on the day of the transaction. This ensures that our investors and buyers are protected from fluctuations in currency exchange rates.
                  </div>
  
                </div>
                <!-- Accordion card -->
  
  
  
  
              </div>
              <!-- Accordion wrapper -->
   <!-- Accordion card -->
   <div class="card border-left border-right border-light">

    <!-- Card header -->
    <div class="card-header border-bottom border-light" role="tab" id="headingThree21">
      <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseThree21"
        aria-expanded="false" aria-controls="collapseThree4">
        <h6 class="green-text  text-center text-muted font-weight-normal mb-0">
          How can I make payments on Agrivest Africa?<i
            class="fas fa-angle-down rotate-icon"></i>
        </h6>
      </a>
    </div>

    <!-- Card body -->
    <div id="collapseThree21" class="collapse" role="tabpanel" aria-labelledby="headingThree8"
      data-parent="#accordionEx">
      <div class="card-body">
        You can make payments on Agrivest Africa by using Visa, Mastercard, MTN MoMo Ghana, and Vodafone money Ghana. We are also working to expand our cross-border payment options.
      </div>

    </div>
    <!-- Accordion card -->




  </div>
  <!-- Accordion wrapper -->
   <!-- Accordion card -->
   <div class="card border-left border-right border-light">

    <!-- Card header -->
    <div class="card-header border-bottom border-light" role="tab" id="headingThree22">
      <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseThree22"
        aria-expanded="false" aria-controls="collapseThree4">
        <h6 class="green-text  text-center text-muted font-weight-normal mb-0">
          How can I withdraw my sponsorship?<i
            class="fas fa-angle-down rotate-icon"></i>
        </h6>
      </a>
    </div>

    <!-- Card body -->
    <div id="collapseThree22" class="collapse" role="tabpanel" aria-labelledby="headingThree8"
      data-parent="#accordionEx">
      <div class="card-body">
        Withdrawals can be done through the same payment method you used to invest. The duration of each project is available on the product profile on our website. Payment is done immediately farm produce are converted to liquid cash.
      </div>

    </div>
    <!-- Accordion card -->




  </div>
  <!-- Accordion wrapper -->
   <!-- Accordion card -->
   <div class="card border-left border-right border-light">

    <!-- Card header -->
    <div class="card-header border-bottom border-light" role="tab" id="headingThree23">
      <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseThree23"
        aria-expanded="false" aria-controls="collapseThree4">
        <h6 class="green-text  text-center text-muted font-weight-normal mb-0">
          What is Agrivest Africa's refund policy?<i
            class="fas fa-angle-down rotate-icon"></i>
        </h6>
      </a>
    </div>

    <!-- Card body -->
    <div id="collapseThree23" class="collapse" role="tabpanel" aria-labelledby="headingThree8"
      data-parent="#accordionEx">
      <div class="card-body">
        In case of any unexpected event or circumstances, we will work with our agrivestors to find a solution that is fair for all parties involved. However, there are times where a refund is not possible depending on the farm progress and the impact the refund will have on the overall project.
      </div>

    </div>
    <!-- Accordion card -->




  </div>
  <!-- Accordion wrapper -->
   <!-- Accordion card -->
   <div class="card border-left border-right border-light">

    <!-- Card header -->
    <div class="card-header border-bottom border-light" role="tab" id="headingThree24">
      <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseThree24"
        aria-expanded="false" aria-controls="collapseThree4">
        <h6 class="green-text  text-center text-muted font-weight-normal mb-0">
          Does Agrivest Africa form partnerships with other organizations?<i
            class="fas fa-angle-down rotate-icon"></i>
        </h6>
      </a>
    </div>

    <!-- Card body -->
    <div id="collapseThree24" class="collapse" role="tabpanel" aria-labelledby="headingThree8"
      data-parent="#accordionEx">
      <div class="card-body">
        Yes, Agrivest Africa partners with both local and international organizations in order to support the growth and development of the agricultural sector in Africa. These partnerships include working with government agencies, NGOs, other agricultural businesses, and other entities that share our goal of improving food security and reducing poverty through sustainable agricultural practices. We believe in working together to achieve a common goal of improving the agricultural sector in Africa.
      </div>

    </div>
    <!-- Accordion card -->




  </div>
  <!-- Accordion wrapper -->
   <!-- Accordion card -->
   <div class="card border-left border-right border-light">

    <!-- Card header -->
    <div class="card-header border-bottom border-light" role="tab" id="headingThree25">
      <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseThree25"
        aria-expanded="false" aria-controls="collapseThree4">
        <h6 class="green-text  text-center text-muted font-weight-normal mb-0">
          How can I get support from Agrivest Africa?<i
            class="fas fa-angle-down rotate-icon"></i>
        </h6>
      </a>
    </div>

    <!-- Card body -->
    <div id="collapseThree25" class="collapse" role="tabpanel" aria-labelledby="headingThree8"
      data-parent="#accordionEx">
      <div class="card-body">
        You can get support from Agrivest Africa by visiting our website and contacting us at info@agrivestafrica.com. We also provide regular updates and resources to help farmers and investors succeed.
      </div>

    </div>
    <!-- Accordion card -->




  </div>
  <!-- Accordion wrapper -->




          </div>
        </div>

    </section>


  </div>

  <br>
  <br>
  <br>
  <div class="card card-image"
    style="background-image: url(/media/img/dry-white-long-rice-basmati-wooden-bowl-burlap-sack-with-wooden-scoop-isolated-white-background_434420-1799.webp);">
    <div class="text-white text-center rgba-gradient py-5 px-4">
      {% include 'foot.html' %}
    </div>
  </div>
  <!--Section: Live preview-->
  <br>
  <br>
  {% include 'low_nav.html' %}


  <script type="text/javascript"
    src="https://mdbcdn.b-cdn.net/wp-content/themes/mdbootstrap4/docs-app/js/bundles/4.20.0/compiled.min.js"></script>


  <script type="text/javascript"
    src="https://mdbcdn.b-cdn.net/wp-content/themes/mdbootstrap4/docs-app/js/dist/search-v4/search.min.js"></script>
  <script src="https://mdbcdn.b-cdn.net/wp-content/themes/mdbootstrap4/docs-app/js/dist/main.min.js"></script>



</body>

</html>