{% load static %}
<!DOCTYPE html>

<html lang="en">

<head>
    <title>AgriVestAfrica - Gallery</title>
    {% include 'Extras/meta.html' %}
    <link rel="stylesheet" href="{% static 'extras/gallery.css' %}">

  
  <header>
       <!--Navbar-->
       {% include 'navbar.html' %}
      <!-- Full Page Intro -->
    <div class="view"
      style="background-image: url('https://res.cloudinary.com/dvnemzw0z/image/upload/v1679864948/main/soybean-isolated-white-background_74190-7801_kghwbo.webp'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
      <!-- Mask & flexbox options-->
      <div class="mask rgba-gradient d-flex justify-content-center align-items-center">
        <!-- Content -->
        <div class="container">
          <br>
          <br>
          <br>
          <!--Grid row-->
          <div class="row">
            <!--Grid column-->
            <div class="col-md-6 white-text text-center text-md-left mt-xl-5 mb-5 ">
              <h1 class="h1-responsive font-weight-bold mt-sm-5 text-left animated tada slower">Gallery</h1>
              <hr class="hr-light">
            </div>
          </div>

        </div>
        <!--Grid row-->
      </div>
      <!-- Content -->
    </div>
    <!-- Mask & flexbox options-->
    </div>
    <!-- Full Page Intro -->
  </header>
  <!-- Main navigation -->
</head>

<body>
  <br>
  <br>
  <br>

<div class="container">
    <div class="row">
        <div class="col-md-12">
      
          <div id="mdb-lightbox-ui"></div>
      
          <div class="mdb-lightbox">
      
      
            <figure class="col-md-4">
                <img alt="picture" src="https://res.cloudinary.com/dvnemzw0z/image/upload/v1680727070/main/1_11zon_cd8lfl.jpg" class="img-fluid" />
            </figure>

            <figure class="col-md-4">
                <img alt="picture" src="https://res.cloudinary.com/dvnemzw0z/image/upload/v1680727146/main/2_11zon_usqroz.jpg" class="img-fluid" />
            </figure>

            <figure class="col-md-4">
                <img alt="picture" src="https://res.cloudinary.com/dvnemzw0z/image/upload/v1680727159/main/3_11zon_kemmpb.jpg" class="img-fluid" />
            </figure>

            <figure class="col-md-4">
                <img alt="picture" src="https://res.cloudinary.com/dvnemzw0z/image/upload/v1680727183/main/6_11zon_efvdux.jpg" class="img-fluid" />
            </figure>

            <figure class="col-md-4">
                <img alt="picture" src="https://res.cloudinary.com/dvnemzw0z/image/upload/v1680727191/main/10_11zon_yvcrl7.jpg" class="img-fluid" />
            </figure>

            <figure class="col-md-4">
              <img alt="picture" src="https://res.cloudinary.com/dvnemzw0z/image/upload/v1680727218/main/11_11zon_hlt6xn.jpg" class="img-fluid" />
          </figure>

          </div>
      
        </div>
      </div>
</div>
  <!-- Footer Elements -->
  {% include 'footer.html' %}




    <script type="text/javascript"
      src="https://mdbcdn.b-cdn.net/wp-content/themes/mdbootstrap4/docs-app/js/bundles/4.20.0/compiled.min.js"></script>


    <script type="text/javascript"
      src="https://mdbcdn.b-cdn.net/wp-content/themes/mdbootstrap4/docs-app/js/dist/search-v4/search.min.js"></script>
    <script src="https://mdbcdn.b-cdn.net/wp-content/themes/mdbootstrap4/docs-app/js/dist/main.min.js"></script>



</body>

</html>