<!DOCTYPE html>

<html lang="en">

<head>
    <title>AgriVestAfrica - Referrals</title>
    {% include 'Extras/meta.html' %}


    <script data-cfasync="false">
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    '//www.googletagmanager.com/gtm.' + 'js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-W7MBMN');
    </script>




    <style>
        html,
        body,
        header,
        .view {
            height: 80%;
        }

        @media (max-width: 740px) {

            html,
            body,
            header,
            .view {
                height: 400px;
            }
        }

        @media (min-width: 800px) and (max-width: 850px) {

            html,
            body,
            header,
            .view {
                height: 500px;
            }
        }

        .btn .fa {
            margin-left: 3px;
        }

        .top-nav-collapse {
            background: -moz-linear-gradient(45deg, rgba(4, 2, 17, 0.7), rgba(13, 211, 13, 0.7) 100%);
            background: -webkit-linear-gradient(45deg, rgba(39, 126, 4, 0.7), rgba(11, 233, 66, 0.7) 100%);
            background: -webkit-gradient(linear, 45deg, from(rgba(2, 168, 10, 0.7)), to(rgba(29, 210, 177, 0.7)));
            background: -o-linear-gradient(45deg, rgba(26, 77, 6, 0.7), rgba(12, 228, 48, 0.7) 100%);
            background: linear-gradient(to 45deg, rgba(4, 68, 4, 0.7), rgba(27, 194, 12, 0.7) 100%);

        }

        .navbar:not(.top-nav-collapse) {
            background: transparent !important;
        }

        @media (max-width: 991px) {
            .navbar:not(.top-nav-collapse) {
                background: #06aa14 !important;
            }
        }

        .btn-white {
            color: black !important;
        }



        .rgba-gradient {
            background: -moz-linear-gradient(45deg, rgba(42, 155, 7, 0.7), rgba(29, 210, 177, 0.7) 100%);
            background: -webkit-linear-gradient(45deg, rgba(23, 100, 4, 0.7), rgba(29, 210, 177, 0.7) 100%);
            background: -webkit-gradient(linear, 45deg, from(rgba(24, 122, 5, 0.7)), to(rgba(29, 210, 177, 0.7)));
            background: -o-linear-gradient(45deg, rgba(38, 99, 3, 0.7), rgba(29, 210, 177, 0.7) 100%);
            background: linear-gradient(to 45deg, rgba(10, 54, 2, 0.7), rgba(29, 210, 177, 0.7) 100%);
        }

        .rgba-gradient1 {
            background: -moz-linear-gradient(45deg, rgba(4, 2, 17, 0.7), rgba(29, 210, 177, 0.7) 60%);
            background: -webkit-linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 40%);
            background: -webkit-gradient(linear, 45deg, from(rgba(42, 27, 161, 0.7)), to(rgba(29, 210, 177, 0.5)));
            background: -o-linear-gradient(45deg, rgba(42, 27, 161, 0.2), rgba(29, 210, 177, 0.7) 50%);
            background: linear-gradient(to 45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 20%);
        }

        .rgba-gradient2 {
            background: -moz-linear-gradient(45deg, rgba(63, 1, 71, 0.1), rgba(29, 210, 177, 0.3) 60%);
            background: -webkit-linear-gradient(45deg, rgba(230, 11, 200, 0.1), rgba(29, 210, 177, 0.3) 40%);
            background: -webkit-gradient(linear, 45deg, from(rgba(212, 19, 203, 0.1)), to(rgba(29, 210, 177, 0.3)));
            background: -o-linear-gradient(45deg, rgba(209, 10, 166, 0.1), rgba(189, 29, 210, 0.2) 50%);
            background: linear-gradient(to 45deg, rgba(78, 4, 107, 0.2), rgba(180, 16, 158, 0.2) 20%);
        }
    </style>

    <header>
        <!--Navbar-->
        {% include 'navbar.html' %}
    <!-- Full Page Intro -->
        <div class="view"
            style="background-image: url('https://res.cloudinary.com/dvnemzw0z/image/upload/v1679864948/main/soybean-isolated-white-background_74190-7801_kghwbo.webp'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
            <!-- Mask & flexbox options-->
            <div class="mask rgba-gradient d-flex justify-content-center align-items-center">
                <!-- Content -->
                <div class="container">
                    <br>
                    <br>
                    <br>
                    <!--Grid row-->
                    <div class="row">
                        <!--Grid column-->
                        <div class="col-md-6 white-text text-center text-md-left mt-xl-5 mb-5 ">
                            <h1 class="h1-responsive font-weight-bold mt-sm-5 text-left animated tada slower">Terms and
                                Conditions</h1>
                            <hr class="hr-light">
                        </div>
                    </div>

                </div>
                <!--Grid row-->
            </div>
            <!-- Content -->
        </div>
        <!-- Mask & flexbox options-->
        </div>
        <!-- Full Page Intro -->
    </header>
    <!-- Main navigation -->
</head>

<body>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

  <div class="container">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            Welcome to Agrivest Africa Co. Ltd., an online crowd funding platform with website link
            www.agrivestafrica.com here in referred to as the "Website" where you can invest in farms and farmers
            located in Africa. By accessing or using the Website, you agree to be bound by the following terms and
            conditions (the "Terms"). If you do not agree to these Terms, please do not use the Website.
            <br>
            <br>
            <span style="color: #06aa14;"> Ownership/Restrictions of Use</span>:
            The Website and its content are owned by Agrivest Africa Co. Ltd. and are protected by copyright, trademark
            and other laws. You may not use the Website or its content for any commercial purpose without the express
            written consent of Agrivest Africa Co. Ltd.
            No-Guarantee on your Sponsorship or your Return on investment (ROI):
            Agrivest Africa Co. Ltd. does not guarantee any return on investment (ROI) or sponsorship. Any ROI or
            sponsorship is subject to the performance of the farm or farmer that you are investing in.
        </div>
        <div class="col-md-1"></div>
    </div>
    <br>
    <br>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <span style="color: #06aa14; font-weight: bold;"> General Risks</span>: <br>
            Investing in farms and farmers through the Website carries certain risks. These risks include, but are not
            limited to:
            <br>
            • <span style="color: #06aa14;">Market Risk</span>: The value of your investment may fluctuate due to changes in the agricultural market, weather
            conditions, political instability and other factors beyond the control of Agrivest Africa Co. Ltd.
            <br>
            • <span style="color: #06aa14;" >Operational Risk</span>: The success of your investment is dependent on the ability of the farm or farmer to
            effectively manage and operate their business. There is a risk that the farm or farmer may not be able to
            meet their financial obligations or that the farm may not be able to produce crops or livestock at a profit.
            <br>
            • <span  style="color: #06aa14;"> Credit Risk:</span> The farm or farmer may not have the ability to repay their loans or meet their financial
            obligations. This could result in a loss of your investment.
            <br>
            • <span  style="color: #06aa14;"> Regulatory Risk: </span>Changes in government regulations, policies or laws may have an adverse effect on the
            farm or farmer and your investment.
            <br>
            • <span style="color: #06aa14;"> Currency Risk: </span>Your investment may be affected by fluctuations in currency exchange rates.
            <br>
            • <span style="color: #06aa14;"> Illiquidity Risk:</span> your investment may be illiquid, meaning you may not be able to easily sell or transfer
            your investment.
            <br>
            It is important to carefully consider these risks before investing and to consult with a financial advisor
            if you have any questions or concerns. Agrivest Africa Co. Ltd. is not responsible for any loss or damage
            resulting from your investment.
            <br>
            <br>

              <span style="color: #06aa14; font-weight: bold;">Loss of Sponsorship:</span> <br>
            Agrivest Africa Co. Ltd. is not responsible for any loss of sponsorship or investment. However, it's
            important to note that Loss of sponsorship can occur in various ways, some of which include:
            <br>
            • <span style="color: #06aa14;">Natural Disasters: </span> Loss of sponsorship can occur as a result of natural disasters such as floods, storms,
            and fires, which can damage or destroy the farm or crops, leading to a loss of income and a reduction in the
            value of your investment.
            <br>
            • <span style="color: #06aa14;"> Loss of Farm:</span> Loss of sponsorship can occur as a result of the farm being sold, transferred or otherwise
            disposed of, which could lead to a loss of income and a reduction in the value of your investment.
            <br>
            •<span style="color: #06aa14;">Non-performance of the farm or farmer:</span>   Loss of sponsorship can occur as a result of the farm or farmer not
            being able to meet their financial obligations or not being able to produce crops or livestock at a profit.
            <br>
            •<span style="color: #06aa14;">  Insurability:</span> Despite insuring the farms, it may not be possible to insure against all risks, which means
            that your investment may still be subject to loss.
            <br>
            It is important to be aware of these risks and to conduct proper due diligence before investing. Agrivest
            Africa Co. Ltd. will not be responsible for any loss or damage resulting from the loss of sponsorship or
            investment. However, we do our best to mitigate these risks by ensuring that the farms are well managed and
            insured.
            <br>
            <br>
            <span style="font-weight: bold;color: #06aa14;">Linking:</span> 
            <br>
            The Website may contain links to other websites. These links are provided for your convenience only.
            Agrivest Africa Co. Ltd. is not responsible for the content of these websites.
            <br>
            <br>
            <span style="font-weight: bold; color: #06aa14;"> Data Collection:</span>
            In order to use the Website, you may be required to provide certain personal information, such as your name,
            email address and other contact information. By providing this information, you agree to allow Agrivest
            Africa Co. Ltd. to collect, use and disclose your personal information in accordance with our Privacy
            Policy.
            <br>
            We may also collect non-personal information, such as your IP address, browser type, and operating system,
            as well as information about your use of the Website, such as the pages you visit, the links you click on,
            and the length of time you spend on the Website. We may use this information to improve the Website and to
            provide you with a more personalized experience.
            You agree that Agrivest Africa Co. Ltd. has the right to use, distribute, reproduce, modify, adapt, publish,
            translate, publicly display, and create derivative works from such data for any purpose and in any form or
            medium.
            <br>
            We take the security of your personal data seriously and we will take all appropriate measures to protect
            your personal information from unauthorized access, disclosure, alteration or destruction.
            Please refer to our Privacy Policy for more information on how we collect, use, and disclose your personal
            information.
            <br>
            <br>
            <span style="font-weight: bold; color: #06aa14;"> Registration/Passwords:</span>
            <br>
            In order to use certain features of the Website, you may be required to register and create an account. You
            are responsible for maintaining the confidentiality of your account and password, and for all activities
            that occur under your account.
            <br>
            <br>
           <span style="font-weight: bold; color: #06aa14;"> Indemnity:</span>
            You agree to indemnify and hold Agrivest Africa Co. Ltd., its officers, directors, shareholders, employees,
            agents, licensors, and suppliers, harmless from and against any claims, actions or demands, liabilities and
            settlements including without limitation, reasonable legal and accounting fees, resulting from, or alleged
            to result from, your violation of these Terms.
            <br>
            <br>
            <span style="font-weight: bold; color: #06aa14;">User Conduct:</span> 
            You agree to use the Website only for lawful purposes and in accordance with these Terms. You agree not to
            use the Website to upload, post, email or otherwise transmit any material that is unlawful, harmful,
            threatening, abusive, harassing, tortuous, defamatory, vulgar, obscene, libelous, invasive of another's
            privacy, hateful, or racially, ethnically or otherwise objectionable.
            <br>
            <br>
            <span style="font-weight: bold; color: #06aa14;">Disclaimer / Limitation of Liability:</span>
            The Website and its content are provided on an "as is" and "as available" basis. Agrivest Africa Co. Ltd.
            makes no representations or warranties of any kind, express or implied, as to the operation of the Website
            or the information, content, materials, or products included on the Website. Agrivest Africa Co. Ltd. will
            not be liable for any damages of any kind arising from the use of the Website, including, but not limited
            to, direct, indirect, incidental, punitive, and consequential damages. <br>
             The products displayed on our Website
            may not be available for purchase at all times and we reserve the right to change, substitute or discontinue
            any product without notice. While we make every effort to accurately describe the products available on the
            Website, we cannot guarantee the accuracy, completeness, reliability or currency of the product
            descriptions, features, prices or other content on the Website. <br> This means that there may be slight
            discrepancies between the product descriptions, images, prices and other content on the Website and the
            actual product. We advise you to read the product descriptions carefully and to contact us if you have any
            questions or concerns.
            <br>
            <br>
            <span style="font-weight: bold; color: #06aa14;"> Privacy:</span>
            Agrivest Africa Co. Ltd. respects your privacy and will not share or sell your personal information with
            third parties. Please see our Privacy Policy for more information.
            <br>
            <br>
            <span style="font-weight: bold; color: #06aa14;">Closing an Account:</span> 
            You can close your account by following the “sign-out” process on the Website. Once you have signed out, you
            will no longer have access to your account and any remaining investments or sponsorships will be terminated.
            Please note that even after you have closed your account, we may retain certain information associated with
            your account for record-keeping purposes, analytics and research, to comply with our legal obligations,
            resolve disputes, troubleshoot problems, enforce our agreements, or as required or permitted by law. <br>
            If you have any outstanding debts or obligations, you are still required to fulfill them even after closing
            your account. If you have any issues with closing your account or with the “sign-out” process, please
            contact us at info@agrivestafrica.com and we will assist you.
            <br>
            <br>
            <span style="font-weight: bold; color: #06aa14;">Refunds:</span> 
            Investments made through the Website are not refundable. Once you have invested in a farm or farmer, your
            investment is considered final and cannot be refunded. This includes, but is not limited to, situations
            where the farm or farmer is unable to meet their financial obligations or is unable to produce crops or
            livestock at a profit.
            <br>
            It is important to carefully consider your investment and to conduct proper due diligence before investing.
            Agrivest Africa Co. Ltd. is not responsible for any loss or damage resulting from your investment and will
            not provide refunds.
            <br>
            However, in the event of a mistake or a technical error, we will do our best to correct the problem and to
            provide a satisfactory solution. If you have any issues or concerns, please contact us at
            info@agrivestafrica.com and we will assist you.
            <br>
            <br>
            <span style="font-weight: bold; color: #06aa14;">Contents:</span>
            Agrivest Africa Co. Ltd. does not claim ownership of any content that you upload, post or submit to the
            Website. However, by uploading, posting or submitting content to the Website, you grant Agrivest Africa Co.
            Ltd. a worldwide, non- exclusives, royalty-free license to use, distribute, reproduce, modify, adapt,
            publish, translate, publicly display, and create derivative works from the content for any purpose and in
            any form or medium.
            <br>
            <br>
            <span style="font-weight: bold; color: #06aa14;">Ratings & Reviews:</span>
            You may be able to post ratings, reviews or other content on the Website. You are solely responsible for the
            content of any ratings, reviews or other content that you post. By posting ratings, reviews or other
            content, you grant Agrivest Africa Co. Ltd. the right to use, distribute, reproduce, modify, adapt, publish,
            translate, publicly display, and create content for any purpose and in any form or medium. You also agree
            that Agrivest Africa Co. Ltd. has the right to remove or edit any ratings, reviews or other content that it
            deems inappropriate or in violation of these Terms.
            <br>
            <br>
            <span style="font-weight: bold; color: #06aa14;"> Changes & Termination:</span>
            Agrivest Africa Co. Ltd. reserves the right to make changes to the Website and these Terms at any time.
            Agrivest Africa Co. Ltd. also reserves the right to terminate your access to the Website at any time,
            without notice, for any reason.
            <br>
            <br>
            <span style="font-weight: bold; color: #06aa14;">Trademarks: </span> 
            The trademarks, logos and service marks (the "Trademarks") displayed on the Website are registered and
            unregistered trademarks of Agrivest Africa Co. Ltd. or others. Nothing contained on the Website should be
            construed as granting, by implication or otherwise, any license or right to use any Trademark without the
            written permission of Agrivest Africa Co. Ltd. or the third-party owner of the Trademark.
            <br>
            <br>

            <span style="font-weight: bold; color: #06aa14;"> Applicable Laws:</span> 
            These Terms and your use of the Website are governed by the laws of Ghana. Any disputes arising from or
            related to these Terms or the Website will be resolved in accordance with the laws of Ghana. This means that
            any legal action or proceeding relating to the Website or these Terms will be brought exclusively in the
            courts of Ghana, and you agree to submit to the personal and exclusive jurisdiction of such courts. You also
            agree to comply with all laws, regulations and rules of Ghana, including without limitation those related to
            the use of the Website and the transmission of technical data exported from Ghana or the country in which
            you reside.
            <br>
            It's important to note that these laws may be different from the laws of your country of residence, and
            using the Website may not be legal in certain jurisdictions. It's your responsibility to ensure that your
            use of the Website complies with all applicable laws.
            In addition to that, you also agree to comply with any other jurisdiction's laws that might apply to you as
            a user of the Website.
            <br>
            <br>
            <span style="font-weight: bold; color: #06aa14;">Notice:</span> 
            Agrivest Africa Co. Ltd. may give notice to you by sending an email to the email address you provided during
            registration, by sending a letter via postal mail to the address you provided during registration, or by a
            posting on the Website. <br>
            You may give notice to Agrivest Africa Co. Ltd. at any time via email to
            info@agrivestafrica.com or by letter to the following address: Agrivest Africa Co. Ltd. Address: Ghana
            By using the Website, you acknowledge that you have read and understand these Terms and that you agree to be
            bound by them. If you have any questions about these Terms, please contact Agrivest Africa Co. Ltd. at
            info@agrivestafrica.com


        </div>
        <div class="col-md-1"></div>
    </div>
  </div>
<br>

    <!-- Footer Elements -->
    {% include 'footer.html' %}
        <!-- Copyright -->




        <script type="text/javascript"
            src="https://mdbcdn.b-cdn.net/wp-content/themes/mdbootstrap4/docs-app/js/bundles/4.20.0/compiled.min.js"></script>


        <script type="text/javascript"
            src="https://mdbcdn.b-cdn.net/wp-content/themes/mdbootstrap4/docs-app/js/dist/search-v4/search.min.js"></script>
        <script src="https://mdbcdn.b-cdn.net/wp-content/themes/mdbootstrap4/docs-app/js/dist/main.min.js"></script>



</body>

</html>