
     <div class="py-5">
       <!-- Content -->
       <h4 class="card-title font-weight-bold mb-4  ">Join Agrivest Africa Today</h4>
       <p class="mb-4 pb-2 px-md-5 mx-md-5">"Investing in agriculture  produces returns in the form of both income and capital growth and is a proven tool to protect investment portfolios against inflation"</p>
       <a class="btn btn-outline-white btn-rounded animated rotateIn slower" href="{% url 's_register_page' %}">
        An Agrivestor</a>
      <a class="btn btn-success btn-rounded animated rotateIn slower" href="{% url 'f_register_page' %}">
        A Farmer</a>
      <a class="btn btn-outline-white btn-rounded animated rotateIn slower" href="{% url 'o_register_page' %}">
        An Aggregator</a>
     </div>