 <!--Section: Live preview-->
 <section class="section-no-border pb-3">
    <!-- Footer -->
    <footer class="page-footer font-small green darken-3">
      <!-- Footer Links -->
      <div class="container text-center text-md-left mt-5">
        <div class="row">

          <!-- Grid column -->
          <div class="col-md-12 py-5">
            <h5 class="card-title font-weight-bold mb-4  text-center animated tada infinite ">Follow Us On:</h5>

            <div class="mb-1 flex-center">

              <!-- Facebook -->
              <a type="button" href="https://www.facebook.com/agrivestafrica/" class="btn-floating"><i
                  class="fab fa-facebook-f"></i></a>
              <!-- Twitter -->
              <a type="button" class="btn-floating"><i class="fab fa-twitter"></i></a>
              <!-- Google + -->
              <a type="button" href="https://www.linkedin.com/in/Agrivest Africa-bb6a23258/" class="btn-floating"><i
                  class="fab fa-linkedin-in"></i></a>
              <a type="button" class="btn-floating"><i class="fab fa-instagram"></i></a>

            </div>
          </div>
          <!-- Grid column -->

        </div>
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

            <!-- Links -->
            <h6 class="text-uppercase font-weight-bold">Services</h6>
            <hr class="deep-antiquewhite accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
            <p>
              <a href="{% url 'farms_page' %}">Farm</a>
            </p>
            <p>
              <a href="{% url 'trades_page' %}">Trade</a>
            </p>
            <p>
              <a href="{% url 'produce_page' %}">Market</a>
            </p>

          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

            <!-- Links -->
            <h6 class="text-uppercase font-weight-bold">Useful links</h6>
            <hr class=" accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">

            <p>
              <a href="terms and conditions.html">Terms and Conditions</a>
            </p>
            <p>
              <a href="terms and conditions.html">Privacy And Policy</a>
            </p>
            <p>
              <a href="faq.html">FAQs</a>
            </p>

          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

            <!-- Links -->
            <h6 class="text-uppercase font-weight-bold">Contact</h6>
            <hr class=" accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
            <p> <i class="fas fa-home mr-3"></i> Community 1,Tema Ghana</p>
            <p> <i class="fas fa-envelope mr-3"></i> info@agrivestafrica.com</p>
            <p>
              <i class="fas fa-phone mr-3"></i> +233 595622057
            </p>
            <p>
              <i class="fas fa-print mr-3"></i> +233 595622057
            </p>

          </div>
          <!-- Grid column -->

        </div>
        <!-- Grid row -->

      </div>
      <!-- Footer Links -->

      <!-- Copyright -->
      <div class="footer-copyright text-center py-3">© 2023 Copyright:
        <a href="{% url 'homepage' %}">AgriVest Africa</a>
      </div>
      <!-- Copyright -->

    </footer>
    <!-- Footer -->
  </section>