<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar justify-content-center">
  <div class="container">
    <a class="navbar-brand" href="{% url 'trades_page' %}">
      <strong>AgriVestAfrica</strong>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-7"
      aria-controls="navbarSupportedContent-7" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent-7">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'farms_page' %}">Farm</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'trades_page' %}">Trade</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'markets_page' %}">Market</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">About</a>
          <div class="dropdown-menu dropdown-success" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="about.html">About Us</a>
            <a class="dropdown-item" href="traction.html">Our Traction</a>
            <a class="dropdown-item" href="meet team.html">Team</a>
            <a class="dropdown-item" href="board.html">Our Board</a>
            <a class="dropdown-item" href="Advisores.html">What we do</a>
            <a class="dropdown-item" href="testimonial.html">Testimonials</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">How It Works</a>
          <div class="dropdown-menu dropdown-success" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="how to .html">Get Started</a>
            <a class="dropdown-item" href="faq.html">FAQ</a>
            <a class="dropdown-item" href="webinar.html">Webinar Registration</a>
            <a class="dropdown-item" href="referral.html">Referrals</a>
            <a class="dropdown-item" href="img/Agrivest africa.pdf">Offline Guide</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">Investors</a>
          <div class="dropdown-menu dropdown-success" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="investors.html">Investors</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="galllery.html">Our Gallery</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">     
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" style="font-family: 'Alegreya Sans SC', sans-serif;" href="{% url 'dashboard' %}">{{user.username}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout_page' %}">Logout</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'login_page' %}">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 's_register_page' %}">Sign-Up</a>
        </li>
        {% endif %}
        <li class="nav-item">
          <a class="nav-link" href="#">NGO</a>
        </li>
      </ul>
    </div>
  </div>
</nav>