<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  TESTPAY
  <!-- {{info}} -->


</body>
</html>


<script>
  sessionStorage.setItem('ghs', (parseFloat('{{ghs}}')).toFixed(2)) 
  sessionStorage.setItem('gbp', (parseFloat('{{gbp}}')).toFixed(2))
  sessionStorage.setItem('ngn', (parseFloat('{{ngn}}')).toFixed(2))
  sessionStorage.setItem('kes', (parseFloat('{{kes}}')).toFixed(2))
</script>