{% load static %}
{% load humanize %}
{% include 'makeHeader.html' %}
  <link rel="shortcut icon" href="{{produce.image.url}}" />
  <title>AgriVestAfrica - Buy Produce</title>

  <header>
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar justify-content-center">
      <div class="container">
        <a class="navbar-brand" href="{% url 'dashboard' %}">
          <strong>AgriVestAfrica</strong>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-7"
          aria-controls="navbarSupportedContent-7" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </nav>
    <!-- Full Page Intro -->
    <div class="view"
      style="background-image: url('{{produce.image.url}}'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
      <!-- Mask & flexbox options-->
      <div class="mask rgba-gradient d-flex justify-content-center align-items-center">
        <!-- Content -->
        <div class="container">
          <br>
          <br>
          <br>
          <!--Grid row-->
          <div class="row">
            <!--Grid column-->
            <div class="col-md-6 white-text text-center text-md-center mt-xl-5 mb-5 ">
              <h1 class="h1-responsive font-weight-bold mt-sm-5 text-left animated tada slower">New Produce</h1>
              <hr class="hr-light">
            </div>
          </div>

        </div>
        <!--Grid row-->
      </div>
      <!-- Content -->
    </div>
    <!-- Mask & flexbox options-->
    </div>
    <!-- Full Page Intro -->
  </header>
  <!-- Main navigation -->
</head>

<body>
  <br>
  <br>
  <br>
  <!-- Section: Live preview -->
  {% if messages %}   
      <div class="messBox">
        {% for message in messages %} 
          {% if message.tags == 'error' %}
          <a href="{% url 's_register_page' %}"><div class="text-center"><button type="button" class="btn btn-sm  btn-danger  btn-rounded">Create account to continue</div></a>
          {% else %}
          <a><div class="text-center"><button type="button" class="btn btn-sm  btn-danger  btn-rounded">{{message}}</div></a>
          {% endif %}
        {% endfor %}
      </div>
  {% endif %}

    <br>
    <br>
  <form method="post">
  <section class=" card container section-preview z-depth-1">
    {% csrf_token %}
    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-lg-3 col-md-12">
        <!-- Card Wider -->
        <div class="card card-cascade wider mb-4">

          <!-- Card image -->
          <div class="view view-cascade overlay view" style="position: relative";>
            <style>
              .trade_tag{
                font-family: 'Alegreya Sans SC', sans-serif;
                position: absolute; 
                background: #00c851;
                color: white;
                border-radius: 3px 0 3px 0; 
                top: 0; 
                padding: 2px 4px 2px 4px;
                left: 0; z-index: 10;
                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
              }
            </style>
            <img class="card-img-top" src="{{produce.image.url}}" alt="Card image cap">
            <a href="#!">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>

          <!-- Card content -->
          <div class="card-body card-body-cascade text-center">

            <!-- Title -->
            <h4 class="card-title"><strong>{{produce.name}}</strong></h4>
            <!-- Subtitle -->
            <h5 class="blue-text pb-2"><strong></strong></h5>
            <!-- Text -->
            <p class="card-text">{{produce.description|slice:":100"}} </p>

          </div>
        </div>
        <!-- Card Wider -->
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <!-- Card Narrower -->
        <div class="card card-cascade narrower">
          <!-- Card content -->
          <div class="card-body card-body-cascade">
            <p class="font-weight-bold text-center">Produce Details</p>
            <!--Grid column-->
            <div class="row">
              <!--Grid column-->
              
              <!--Grid column-->
            </div>
            <br>
            <!--Grid column-->
            <!--Grid column-->
            <div class=" mb-4">
              <!--lastName-->
              <label for="lastName" class="">Preferred Name For Your Produce</label>
              <input type="text" id="lastName" class="form-control" name="produce_name" required>
            </div>

            <!--Grid column-->
            <!--Grid row-->
            <br>
            
            <!--Material textarea-->
            <div class="md-form md-outline mb-3">
              <textarea id="form-message" class="md-textarea form-control" rows="5" name="extra_notes"></textarea>
              <label for="form-message">Extra Notes For Us To Consider</label>
            </div>
          </div>
          <!--Grid row-->
        </div>
      </div>


      <!-- Grid column -->
      <div class="col-lg-5 col-md-6 mb-4" method="post">
        <!-- Card Narrower -->
        <div class="card card-cascade narrower">
          <!-- Card content -->
          <div class="card-body card-body-cascade">
            <p class="font-weight-bold text-center">Produce Financial Summary</p>
            <div class="container my-5 py-3  rounded">
              <div class="row">
                <div class="col-lg-6 col-md-6 mb-4">

                  <label class="green-text"> Unit Cost [kg]</label>
                  <br>
                  <td class="font-weight-bold">
                    <strong>GHS {{produce.price|intcomma}}</strong>
                  </td>

                </div>
                <!--Grid column-->
              </div>
              <div class="form-row mb-4">
                <div class="col">
                  <!-- First name -->
                  <input type="number" id="units" class="form-control" placeholder="No of units"; name="units" required>
                </div>
              </div>
              <hr>
              <div class="row">
                <!--Grid column-->
                <div class="col-lg-6 col-md-6 mb-4">
                  <label class="green-text">Total Cost</label>
                  <br>
                  <td class="font-weight-bold">
                    <strong id="price" data-price="{{produce.price}}"></strong>
                  </td>
                </div>
              </div>
              <hr>
              <br>
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="materialUnchecked">
                <label class="form-check-label" for="materialUnchecked">Agree to all our <a href="">Terms</a> and <a
                    href="">Conditions</a></label>
              </div>
              <button type="submit" class="btn btn-rounded  z-depth-1a animated rotateIn slower " style="color: black;">
                <span><small>Pay</small></span>
              </button>
              <br>
              <hr>
            </div>
          </div>
        </div>
      </div>
      <!-- Grid column -->
    </div>
  </section>
  </form>
  <!--Section: Content-->
  <br>
  <br>
  <br>


  <script>
    const units = document.getElementById('units')
    const price = document.getElementById('price').dataset.price
    const total = document.getElementById('price')


    const amount = document.getElementById('amount')

    units.oninput = () => {
      console.log(Math.round((units.value * price)))
      total.innerHTML = 'GHS' + ' '  + (units.value * price).toFixed(2).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
      // amount.value = (units.value * price) + Math.round((units.value * price))
    }
  </script>

  <!-- Footer -->

  <!-- Footer Elements -->
  <footer class="page-footer font-small green darken-3">
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2022 Copyright:
      <a href=""> AgriVestAfrica.com</a>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->



  <script type="text/javascript"
    src="https://mdbcdn.b-cdn.net/wp-content/themes/mdbootstrap4/docs-app/js/bundles/4.20.0/compiled.min.js"></script>


  <script type="text/javascript"
    src="https://mdbcdn.b-cdn.net/wp-content/themes/mdbootstrap4/docs-app/js/dist/search-v4/search.min.js"></script>
  <script src="https://mdbcdn.b-cdn.net/wp-content/themes/mdbootstrap4/docs-app/js/dist/main.min.js"></script>
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init({
      duration: 1200,
    })


  </script>

</body>

</html>