{% extends "Farms/farms.html" %}

{% block backgroundImage %}
<div class="view"
style="background-image: url('https://res.cloudinary.com/dvnemzw0z/image/upload/v1679864316/main/galafruit_peperoncino_feht5u.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
{% endblock backgroundImage %}

{% block headerBlock %}
<h1 class="h1-responsive font-weight-bold mt-sm-5 text-left animated tada slower">Buy Produce</h1>
{% endblock headerBlock %}



{% block content %}
<div class="container mt-5">
  <!--Section: Content-->
  <section class="dark-grey-text text-center">
    
    <!-- Section heading -->
    <h3 class="font-weight-bold mb-4 pb-2">Our Available Produce On sale</h3>
    <!-- Section description -->
    <p class="grey-text w-responsive mx-auto mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit fugit, error amet numquam iure provident voluptate esse quasi nostrum quisquam eum porro a pariatur veniam.</p>

      <!-- Grid row -->
    <div class="row">
      
      {% for produce in produces %}
      <!-- Grid column -->
      <div class="col-lg-3 col-md-6 mb-4 d-flex align-items-stretch">
        <!-- Card -->
        <div class="card align-items-center">
          <!-- Card image -->
          <div class="view overlay">
            <img src="{{produce.image.url}}" class="card-img-top"
              alt="">
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
          <!-- Card image -->
          <!-- Card content -->
          <div class="card-body text-center">
            <!-- Category & Title -->
            <a href="" class="grey-text">
              <h6>{{produce.name}}</h6>
            </a>
            <h5 class="mb-3">
              <strong>
                <a href="{% url 'buyProduce_page' produce.slug %}" class="dark-grey-text">
                  <span class="badge badge-pill danger-color">Buy</span>
                </a>
              </strong>
            </h5>
            <h5 class="font-weight-bold blue-text mb-0">
              <strong>GH¢{{produce.price}}</strong>
            </h5>
          </div>
          <!-- Card content -->
        </div>
        <!-- Card -->
      </div>
      <!-- Grid column -->
      {% endfor %}

    </div>
    <!-- Grid row -->

  </section>
  <!--Section: Content-->
</div>
{% endblock content %}
  