@import url('https://fonts.googleapis.com/css2?family=Baloo+2&family=Commissioner&family=Martel+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-family: 'Plus Jakarta Sans', sans-serif;

}

.mt1 i{
  color: white;
}
.mt2 i{
  color: wheat;
}
.mt3 i{
  color: skyblue;
}

.page{
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
.left, .main, .right{
  min-height: 100vh;
}
.left{
  transition: 0.5s ease;
  position: fixed;
  top: 0;
  left: 0;
  width: 20%;
  z-index: 50;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}
#left_close_tag{
  display: none;
}

.left::-webkit-scrollbar{
  width: 10px;
  background: whitesmoke;
  -webkit-animation: appear 0.3s ease;;
}
@keyframes appear{
  0%{background: skyblue;}
  100%{background: black;}
}


.left::-webkit-scrollbar-thumb{
  border-radius: 0 0 20px 20px;
  height: 30%;
  background: darkgray;
}
.left::-webkit-scrollbar-thumb:hover{
  border-radius: 20px;
  height: 30%;
  background: rgb(100, 99, 99);
}


.left.change{
  width: 5%;
}
.main{
  width: 80%;
  transition: 0.5s ease;
  background: rgb(249, 249, 249);
  display: flex;
  flex-direction: column;
  background: white;
}
.left, .main, .right{
  min-height: 100vh;
}     
.main{
    height: auto;
  }
  .main_top,.main_low{
    height: auto;
  }

.main.change{
  width: 95%;
}
.menu_min_tag{
  display: none;
}
.menu_min{
  display: none;
}
.mini_nav{
  min-height: 7vh;
  display: none;
  align-items: center;
  justify-content: space-around;
}

.left_tag{
  position: absolute;
  height: 40px;
  width: 40px;
  right: 0;
  z-index: 2000;
  display: flex;
  align-items: center;
  border-radius: 0 0 0 10px;
  cursor: pointer;
  justify-content: center;
  background: #4caf50;
}
.left_tag_2{
  display: none;
  color: white;
  cursor: pointer;
}
.left_tag.change{
  position: relative;
  width: 100%;
}
.left_tag i{
  color: white;
  font-size: 2rem;
  font-size: 600;
}
.left .top {
  min-height: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.left .top a{
  color: #4caf50;
  font-size: 1.5rem;
}

.left .top.change,.left .user_con.change{
  display: none;
}
.left .user_con{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  min-height: 20vh;
}
.uc_top, .uc_low{
  text-align: center;
}
#uc_hr{
  width: 80%;
  height: 2px;
  background: #71d574;
}
.uc_top span{
  font-size: 1.1rem;
  font-weight: 600;
}
.uc_low span{
  font-weight: 600;
  font-size: 1.6rem;
  color: #71d574;
}

.left .menu{
  min-height: 55vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  justify-content: center;
}
.left .menu a{
  width: 50%;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-radius: 10px;
  transition: 0.3s ease;
  font-size: 1rem;
  color: black;
  position: relative; 
}
.left .menu a.change{
  width: auto;
}
.left .menu div{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  display: none;
}
#expand{
  margin: 10px;
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
  cursor: pointer;
}
.left .menu div.change{
  display: flex;
  position: relative;
  animation: floatIn 0.3s ease;
}
@keyframes floatIn{
  0%{left: -20px; opacity: 0;}
  100%{left: 0; opacity: 1;}
}

.left .menu div a{
  display: flex;
  width: auto;
  justify-content: flex-end;
  font-size: 0.9rem;
}
.left .menu div.mini a p{
  display: none;
  color: red;
}




.left .menu a i {
  color: #71d574;
}
.left .menu a:hover{
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}
.left .menu a span.change, #logout.change{
  display: none;
}
.left .low{
  min-height: 7vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.left .low a{
  display: flex;
  align-items: center;
  justify-content: center;
}

.main_top{
  width: 100%;
  display: flex;
  height: 30%;
}
.main_top .mt_left, .main_top .mt_right{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.mt_left{
  padding: 10px 0;
  width: 100%;
}
.mt_left .box{
  min-height: 18vh;
  border-radius: 10px;
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}
.mt_left .box{
  width: 18%;
  padding: 2%;
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: space-around;
}
.mt_left .hid{
  display: none;
}
.mt_left .box i{
  font-size: 3rem;
}
.mt_left .box p{
  font-size: 1.1rem;
}
.mt_left .box span{
  font-size: 1.3rem;
  font-weight: 600;
}
.mt1{
  background: #47bec4;
}
.mt2{
  background: #00acea;
}
.mt3{
  background: #2a2a46;
}

.quick_box{
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
}
.quick_prev,.quick_next{
  z-index: 10;
  height: 30px;
  width: 30px;
  color: green;
  background: transparent;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.quick_prev{
  left: 0;
}
.quick_next{
  right: 0;
}
.quick_box .swiper-slide a{
  border-radius: 5px;
}
.quick_prev span, .quick_next span{
  font-weight: 600;
  font-size: 1rem;
}

.quick_box .swiper-slide{
  width: 100%;
  height: 100%;
  color: #71d574;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.quick_box .swiper-slide i{
  font-size: 4rem;
}
.quick_box .swiper-slide a{
  padding: 5px 10px;
  background: #71d574;
  color: white;
}

.main_low{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 70vh;
}
.main_low .order_box{
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
  width: 90%;
  height: 80%;
  background: white;
}
.order_box_h{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  padding: 0 10%;
  height: 10%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.order_box_h p{
  color: #346e36;
  letter-spacing: 1px;
}
.order_box form{
  display: flex;
  border-radius: 40px;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  padding: 10px 5px;
}
.order_box_h form input{
  font-size: 0.9rem;
  padding: 5px 15px;
  max-width: 200px;
}
.order_box_h form input::placeholder{
  font-size: 1rem;
  text-align: center;
}
.order_box_h form button{
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}
.order_box_h form select{
  padding: 5px;
  text-align: center;
  height: 100%;
  background: transparent;
  border-left: 2px dotted darkgray;
}
.order_box_con{
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: 80%;
}
.order_box_con .con{
  position: relative;
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-around;
  transition: 0.3s ease;
}
.order_box_con .con:hover{
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.order_box_con #conH{
  padding: 20px 0;
  border-bottom: 1px dotted rgb(100, 99, 99);
}
#conH span, #conH p{
  color: #4caf50;
  font-size: 0.9rem;
}

.order_box_swiper{
  width: 100%;
  min-height: 100%;
  height: auto;
  overflow-y: auto;
}
.order_box .con span{
  font-size: 0.9rem;
  flex-wrap: wrap;
}    
.order_box .con p{
  flex-wrap: wrap;
  font-size: 0.9rem;
  color: rgb(117, 117, 117);
}
.order_box .con .status small{
  border-radius: 5px;
  padding: 5px;
}
.order_box_swiper .swiper-slide{
  width: 100%;
  display:flex;
  flex-direction:column;
  align-items: center;
}
.order_box_swiper #conH, .order_box_swiper #con_info,.order_box_swiper #con_info .con{
  width: 100%;
}
.order_box_swiper #con_info{
  display:flex;
  flex-direction: column;
  align-items: center;

}
#schedule{
  display: flex;
  flex-direction: column;
}
#schedule i{
  color: salmon;
  font-size: 1.2rem;
}

.order_box .con p{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 15%;
}
.order_box_con .con .prod{
  display: flex;
  width: 25%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
}
.order_box_con .con .prod img{
  height: 70px;
  width: 120px;
  border-radius: 10px;
}

#t_stat_tag{
  display: none;
  position: absolute;
  left: 10px;
  height: 10px;
  width: 10px;
  border-radius: 50%;
}

.main_mid{
  display: none;
  align-items: center;
  width: 100%;
  justify-content: center;
}
.footer{
  height: 7vh;
  width: 100%;
  display: none;
  color: wheat;
  justify-content: center;
  align-items: center;
  background: #4caf50;
  font-family: 'Alegreya Sans SC', sans-serif;
}
.footer a{
  font-family: 'Alegreya Sans SC', sans-serif;
  color: white;
}

@media all and (max-width:1300px){
  .left{
    position: fixed;
    min-width: 300px;
    padding: 0 5%;
    left: -120%;
    background: white;
  }
  .left.mini{
    left: 0;
  }
  .left .menu{
    gap: 10px;
    align-items: center;
  }
  .left .menu a{
    padding: 3px;
    width: auto;
  }
  .mini_nav{
    display: flex;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background: #4caf50;
  }
  .mini_nav a{
    color: wheat;
  }
  
  .left_tag{
    display: none;
  }
  .left_tag_2{
    display: flex;
  }
  .main{
    position: relative;
    gap: 20px;
    width: 100%;
  }

  .main_cover{
    display: none;
    width: 100%;
    height: 100%;
    z-index: 10;
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
  }
  .main_cover.change{
    display: flex;
  }
  .mt_right{
    display: none;
  }
  .main_low{
    min-height: auto;
    height: auto;
  }
  .page{
    flex-direction: column;
  }
  .footer{
    display: flex;
  }
}

@media all and (max-width:870px){
  .main_top{
    flex-direction: column;
  }
  .mt_left{
    padding: 0;
    flex-wrap: wrap;
    width: 100%;
  }
  .mt4{
    display: none !important;
  }

  .mt_left .box{
    width: 83% !important;
    height: auto;
    padding: 2% 3%;
    flex-direction: column;
    margin: 10px;
    justify-content: space-around;
    background: skyblue;
    color: white !important;
    color: rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
    --mask: 
    linear-gradient(#000 0 0) 50%/calc(100% - 9.25px) calc(100% - 9.25px) no-repeat,
    radial-gradient(farthest-side,#000 98%,#0000) 0 0/10px 10px round;
    -webkit-mask: var(--mask);
          mask: var(--mask);
  }
  .mt_left .box i{
    position: absolute;
    right: 10%;
    background: #2a2a46;
    --mask: 
    linear-gradient(#000 0 0) 50%/calc(100% - 8px) calc(100% - 8px) no-repeat,
    radial-gradient(4px,#0000 98%,#000) 0 -4px/7.40px 8px round no-repeat,
    radial-gradient(4px,#0000 98%,#000) 0 calc(100% + 4px)/7.40px 8px round no-repeat,
    radial-gradient(4px,#0000 98%,#000) -4px 0/8px 7.40px no-repeat round,
    radial-gradient(4px,#0000 98%,#000) calc(100% + 4px) 0/8px 7.40px no-repeat round;
  clip-path: polygon(8px 0,calc(100% - 8px) 0,100% 8px,100% calc(100% - 8px),calc(100% - 8px) 100%,8px 100%,0 calc(100% - 8px),0 8px);
  -webkit-mask: var(--mask);
          mask: var(--mask);
    padding: 10px;
  }
  .mt_left .hid{
    display: flex;
  }
  .mt_right .box{
    display: none;
  }
  .main_low .order_box{
    width: 95%;
  }
  .main{
    background: white;
    height: auto;
  }
  .main_top,.main .main_low{
    min-height: auto;
  }
  .main_mid{
    display: flex;
  }
  .ad_swiper{
    display: none !important;
  }
}

@media all and (max-width:680px){
  .main{
    background: white;
  }
  .quick_prev, .quick_next{
    display: none;
  }
  .main_top{
    margin: 0;
  }
  
  
  .main_top .mt_left{
    align-items: center;
    justify-content: center;
    gap: 7px;
  }
  .mt_left .box{
    margin: 0px;
    width: 41%;
 }
  .main_low .order_box{
    border-radius: 0;
    height: auto;
    box-shadow: none;
  }
  .order_box_h form{
    gap: 5px;
    justify-content: space-around;
    border-radius:0;
    width: 95%;
    flex-wrap: wrap;
  }
  .order_box form input{
    max-width: 150px;
    font-size: 0.9rem;
    border-radius: 0;
  }
  .order_box_h p{
    font-size: 1rem;
    letter-spacing: 1px;
    display: none;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-family: 'Bebas Neue', cursive;
  }
  .main_low .order_box{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0;
    gap: 10px;
  }
  .order_box_h{
    justify-content: space-around;
    align-items: center;
    padding: 0 2%;
    width: 93%;    
    flex-wrap: wrap;
    height: auto;
    box-shadow: none;
  }
  .order_box form input{
    padding: 0;
    max-width: 120px;
    height: auto;
  }
  .order_box .con .prod{
    width: 60%;
    gap: 5px;
    font-size: 0.8rem;
    justify-content: flex-start;
  }
  .order_box .con .prod img{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  }
  .order_box_con{
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
    gap: 10px;
  }
  .order_box #conH,.order_box #con_info{
    width: 90%;
  }
  .order_box #con_info .con{
    margin: 3px 0;
    display: flex;
    padding: 4px;
    border-radius: 5px;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
  }
  .order_box #conH{
    padding: 0;
  }
  #conH span,#conH p{
    font-size: 0.8rem;
    text-align: center;
    justify-content: center;
  }
  #conH span{
    width: 100%;
  }
  #conH p{
    width: 40%;
  }
  .order_box .con p{
    width: 40%;
    font-weight: 400;
    font-size: 0.9rem;
  }
  .order_box_con{
    overflow-y: auto;
  }
  .order_box .con .date,.order_box .con .status, #schedule{
    display: none;
  }
  .order_box_con .con{
    background: white;
    border: 2px dashed #4caf50;
  }
  .order_box_con .con .prod{
    display: flex;
    justify-content: space-around;
  }
  .order_box_con #conH{
    border: none;
    background: salmon;
    padding: 5px 5px;
  }
  .order_box_con #conH .prod span{
    color: white;
    font-size: 5vw;
    font-weight: 200;
    font-family: 'Alegreya Sans SC', sans-serif;
  }
  .order_box_con .con .prod span{
    font-size: 4.5vw;
  }
  .order_box .con .cost{
    border-radius: 5px;
    color: rgb(101, 101, 101);
    width: auto;
    padding: 7px;
    font-size: 4vw;
  }

  .order_box .con #t_stat_tag{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    top: 3px;
    display: flex;
  }
}
@media all and (max-width:350px){
  .left{
    min-width: auto;
    width: 90%;
  }
}

.ad_swiper{
  width: 100%;
  min-height: 40vh;
}
.ad_box .ad .ad_cover, .ad_box_2 .ad .ad_cover{
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  z-index: 5;  
  height: 100%;
  width: 0;
  top: 0;
  left: 0;
  transition: 0.5s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ad_box .ad .ad_cover{
  border-radius: 100px 100px 15px 15px;
}
.ad_box_2 .ad .ad_cover{
  flex-direction: column;
  gap: 5px;
}
.ad_box .ad .ad_cover i,.ad_box_2 .ad .ad_cover i{
  color: wheat;
  font-size: 2rem;
  transition: 0.3s ease;
  opacity: 0;
}
.ad_box, .ad_box_2{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  background: white;
}
.ad_box_2 .ad .ad_cover span{
  transition: 0.3s ease;
  opacity: 0;
  color: wheat;
}
.ad_box_2 .ad .ad_cover small{
  transition: 0.3s ease;
  font-weight: 600;
  color: white;
  opacity: 0;
}
.ad_box_2 .ad:hover .ad_cover{
  width: 100%;
}
.ad_box_2 .ad:hover .ad_cover i{
  opacity: 1;
}
.ad_box_2 .ad:hover .ad_cover span{
  opacity: 1;
}
.ad_box_2 .ad:hover .ad_cover small{
  opacity: 1;
}


.ad_box{
  min-height: 28vh;
}
.ad_box_2{
  min-height: 30vh;
}
.ad_box .ad, .ad_box_2 .ad{
  position: relative;
  min-height: 25vh;
}
.ad_box .ad{
  border: 3px solid #526b53;
  width: 30%;
  border-radius: 100px 100px 15px 15px;
  background-position: center;
  background-size: contain;
}
.ad_box_2 .ad{
  width: 20%;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.ad_box .ad:hover .ad_cover{
  width: 100%;
}
.ad_box .ad:hover .ad_cover i{
  opacity: 1;
}

.ad_box .ad p,.ad_box_2 .ad p{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  color: white;
  height: 45px;
  width: 45px;
  padding: 3px;
  font-size: 0.8rem;
  text-align: center;
}
.ad_box .ad p{
  border-radius: 50%;
}
.ad_box_2 .ad p{
  flex-wrap: wrap;
}

.ad_box .ad #p1, .ad_box_2 .ad #p1{
  background: #526b53;
  left: -25px;
}
.ad_box .ad #p1{
  top: 50px;
}
.ad_box_2 .ad #p1{
  bottom: 50px;
}
.ad_box .ad #p2, .ad_box_2 .ad #p2{
  top: 10px;
  right: -25px;
  background: salmon;
}
.ad_box_2 .ad #p3{
  background: wheat;
  width: auto;
  height: auto;
  padding: 3px;
  color: black;
  left: 0;
  top: 0px;
}

.prompt_box{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 10px 0;
}
.prompt_box img{
  width: 250px;
  height: 200px;
}
.prompt_box button{
  background: #71d574;
  padding: 8px;
  cursor: pointer;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 0 8px 0 8px;
  color: white;
}