{% load static %}
<!DOCTYPE html>

<html lang="en">

<head>
  {% include 'makeHeader.html' %}
  <link rel="shortcut icon" href="img/cocoa-pods-with-cocoa-leaf-white_41471-6709.webp" />
  <link rel="stylesheet" href="{% static 'home/checkout.css' %}">
  <header>
    <!--Navbar-->
    {% include 'navbar.html' %}
      <!-- Full Page Intro -->
      <div class="view"
        style="background-image: url('{{farm.image.url}}'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
        <!-- Mask & flexbox options-->
        <div class="mask rgba-gradient d-flex justify-content-center align-items-center">
          <!-- Content -->
          <div class="container">
            <br>
            <br>
            <br>
            <!--Grid row-->
            <div class="row">
              <!--Grid column-->
              <div class="col-md-6 white-text text-center text-md-center mt-xl-5 mb-5 ">
                <h1 class="h1-responsive font-weight-bold mt-sm-5 text-left animated tada slower">New Farm</h1>
                <hr class="hr-light">
              </div>
            </div>
  
          </div>
          <!--Grid row-->
        </div>
        <!-- Content -->
      </div>
      <!-- Mask & flexbox options-->
      </div>
      <!-- Full Page Intro -->
    </header>
  <!-- Main navigation -->
</head>

<body>

  <br>
  <br>
  <br>
  
  {% if messages %}
    {% for message in messages %}
      <div class="text-center"><button type="button" class="btn btn-sm  btn-danger  btn-rounded">{{message}}</div>
    {% endfor %}
  {% endif %}
    
  <br>
  <br>
  <!-- Section: Live preview -->
  <form class=" card container section-preview z-depth-1" method="post" target="_blank">
    {% csrf_token %}
    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-lg-3 col-md-12">
        <!-- Card Wider -->
        <div class="card card-cascade wider mb-4">

          <!-- Card image -->
          <div class="view view-cascade overlay view">
            <span class="badge badge-success mb-2">{{farm.start_date|timesince:farm.end_date}}</span>
            <img class="card-img-top" src="{{farm.image.url}}" alt="Card image cap">
            <a href="#!">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>

          <!-- Card content -->
          <div class="card-body card-body-cascade text-center">

            <!-- Title -->
            <h4 class="card-title"><strong>{{farm.name}}</strong></h4>
            <!-- Subtitle -->
            <h5 class="blue-text pb-2"><strong></strong></h5>
            <!-- Text -->
            <p class="card-text">Sponsoring maize can yield a returns between {{farm.ros_min}}% - {{farm.ros_max}}%</p>

          </div>

        </div>
        <!-- Card Wider -->

      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <!-- Card Narrower -->
        <div class="card card-cascade narrower">
          <!-- Card content -->
          <div class="card-body card-body-cascade">
            <p class="font-weight-bold text-center">Farm Details</p>
            <!--Grid column-->
            <div class="row">
              <!--Grid column-->
              <div class="col-lg-12">
                <label for="country">Choose Farm Partners</label>
                <select class="custom-select d-block w-100" id="country" name="partner" required>
                  {% for partner in partners %}
                  <option value="{{partner.name}}">{{partner.name}}</option>
                  {% endfor %}
                </select>
              </div>
              <!--Grid column-->
            </div>
            <br>
            <!--Grid column-->
            <!--Grid column-->
            <div class=" mb-4">
              <!--lastName-->
              <label for="lastName" class="">Expected Farm Schedule</label>
              <input type="text"  class="form-control"  style="cursor: pointer;"
                value="{{farm.start_date|date:'d b, Y'}} - {{farm.end_date|date:'d b, Y'}}" readonly
              >
            </div>

            <div class="form-row mb-4">
              <div class="col popup_box">
                <!-- First name -->
                <input type="number" min="1" id="units" name="units" class="form-control units" placeholder="No of units" required>
                <div class="popup">
                  <button type="button" class="popup_val">1</button>
                  <button type="button" class="popup_val">3</button>
                  <button type="button" class="popup_val">5</button>
                  <button type="button" class="popup_val">10</button>
                  <button type="button" class="popup_val">15</button>
                  <button type="button" class="popup_val">30</button>
                </div>
              </div>
              <div class="col">
                <!-- Last name -->
                <input type="text" id="units_acre" class="form-control" style="cursor: pointer;" placeholder="Acres" readonly>
              </div>
            </div>
            
            <style>
              .popup_box{
                position: relative;
                /* border: 2px solid black; */
              }
              .popup{
                background: white;
                z-index: 10;
                padding: 10px;
                display: none;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;
                gap: 0.5rem;
                border-radius: 10px;
                position: absolute;
                top: 110%;
                box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
              }
              .popup.change{
                display: flex;
                animation: appear 0.3s ease;
              }
              @keyframes appear{
                0%{opacity: 0;}
                100%{opacity: 1;}
              }
              .popup button{
                box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
                border-radius: 10px;
                font-family: 'Poppins', sans-serif;
                border: none;
                color: rgb(99, 98, 98);
                background: white;
                width: 37px;
                height: 37px;
              }
            </style>
            
            <div class=" mb-4">

              <!--lastName-->
              <label for="lastName" class="">Preferred Name For Your Farm</label>
              <input type="text" id="name" class="form-control" name="name" required>

            </div>

            <!--Grid column-->
            <!--Grid row-->
            <div class="row">
              <!--Grid column-->
              <div class="col-lg-12">
                <label for="country">Harvest Proceeds as:</label>
                <select class="custom-select d-block w-100" id="country" name="harvest_type" required>
                  <option value="Cash">cash</option>
                  <option value="Crop">crop</option>
                  <option value="Roll on trade">Roll On to Trade</option>
                </select>
              </div>
            </div>
            <br>
            <!--Material textarea-->
            <div class="md-form md-outline mb-3">
              <textarea id="form-message" class="md-textarea form-control" rows="5" name="extra_notes"></textarea>
              <label for="form-message">Extra Notes For Us To Consider</label>
            </div>
          </div>
          <!--Grid row-->
        </div>
      </div>

      
      

      <!-- Grid column -->
      <div class="col-lg-5 col-md-6 mb-4">
        <!-- Card Narrower -->
        <div class="card card-cascade narrower">
          <!-- Card content -->
          <div class="card-body card-body-cascade">
            <p class="font-weight-bold text-center">Farm Financial Summary</p>
            <div class="container my-5 py-3  rounded">
              <div class="row">

                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-4 col-md-6 mb-4">

                  <label class="green-text"> Total Cost</label>
                  <br>
                  <td class="font-weight-bold">
                    <strong id="total_cost"><div class="icon_box"><small id="icon">.</small><small id="icon">.</small><small id="icon">.</small></div></strong>
                  </td>

                </div>

              </div>
              <hr>
              <div class="row">

                <div class="col-lg-6 col-md-6 mb-4">

                  <label class="green-text">Potential Ros(High)</label>
                  <br>
                  <td class="font-weight-bold">
                    <strong id="ros_max"><div class="icon_box"><small id="icon">.</small><small id="icon">.</small><small id="icon">.</small></div></strong>
                  </td>

                </div>
                <!--Grid column-->
                <div class="col-lg-6 col-md-6 mb-4">

                  <label class="green-text"> Potential Ros(Low)</label>
                  <br>
                  <td class="font-weight-bold">
                    <strong id="ros_min"><div class="icon_box"><small id="icon">.</small><small id="icon">.</small><small id="icon">.</small></div></strong>
                  </td>

                </div>

              </div>
              <div class="row">

                <div class="col-lg-6 col-md-6 mb-4">

                  <label class="green-text">+service charge({{farm.service_charge}}%)</label>
                  <br>
                  <td class="font-weight-bold">
                    <strong id="service"><div class="icon_box"><small id="icon">.</small><small id="icon">.</small><small id="icon">.</small></div> </strong>
                  </td>

                </div>
                <!--Grid column-->
                <div class="col-lg-6 col-md-6 mb-4">

                  <label class="green-text">Profit Margin</label>
                  <br>
                  <td class="font-weight-bold">
                    <strong>{{farm.ros_min}}% - {{farm.ros_max}}%</strong>
                  </td>

                </div>
                
              </div>
              <hr>
              <br>
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="materialUnchecked" required>
                <label class="form-check-label" for="materialUnchecked">Agree to all our <a href="{% url 'terms_and_conditions_page' %}">Terms and Conditions</a>.</label>
              </div>
              <br>
              <hr>
              <p class="text-center font-weight-bold"><button type="submit" class="btn btn-green"><i class="fas fa-clone left"></i>Pay Now</button></p>
            </div>
            <!-- /.Shopping Cart table -->
          </div>
        </div>
      </div>
      <!-- Grid column -->

    </div>


  </form>
  <!--Section: Content-->
  <br>
  <br>
  <br>
  <!-- Footer -->

  <!-- Footer Elements -->
  <footer class="page-footer font-small green darken-3">
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2022 Copyright:
      <a href=""> Agrivest Africa.com</a>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->



  <script type="text/javascript"
    src="https://mdbcdn.b-cdn.net/wp-content/themes/mdbootstrap4/docs-app/js/bundles/4.20.0/compiled.min.js"></script>


  <script type="text/javascript"
    src="https://mdbcdn.b-cdn.net/wp-content/themes/mdbootstrap4/docs-app/js/dist/search-v4/search.min.js"></script>
  <script src="https://mdbcdn.b-cdn.net/wp-content/themes/mdbootstrap4/docs-app/js/dist/main.min.js"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script>
    AOS.init({
      duration: 1200,
    })
  </script>
  
  {% include 'trans_extra.html' %}
  
  <script>
    const units = document.getElementById('units')
    const popup = document.querySelector('.popup')

    units.onfocus =()=>{
      popup.classList.toggle('change')
    }
    window.onclick =()=>{
      if(!event.target.classList.contains('units')){
        if(event.target.classList.contains('popup_val')){
          units.value = parseInt(event.target.innerHTML)
          calculateTrans(parseInt(event.target.innerHTML))
        }
        popup.classList.remove('change')
      }
    }

    const units_acre = document.getElementById('units_acre')
    const total_cost = document.getElementById('total_cost')
    const ros_min = document.getElementById('ros_min')
    const ros_max = document.getElementById('ros_max')
    const service_charge = document.getElementById('service')
    var price = parseInt('{{farm.price}}')
    var rosMin_rate = parseInt('{{farm.ros_min}}') 
    var rosMax_rate = parseInt('{{farm.ros_max}}') 
    var serve = parseInt('{{farm.service_charge}}')

    window.onload = ()=>{
      units.value = ''
      document.getElementById('name').value = ''
      units_acre.value = ''
    }

    const calculateTrans =(unit_val)=>{
      total_cost.classList.add('change')
      ros_min.classList.add('change')
      ros_max.classList.add('change')
      service_charge.classList.add('change')
      units_acre.value = eval(unit_val/10) + ' ' + 'acres'
      service_charge.innerHTML = 'GH₵' + ' ' + eval((serve/100)*(unit_val * price)).toFixed(2).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
      total_cost.innerHTML = 'GH₵' + ' ' + (eval(unit_val * price) + eval((serve/100)*(unit_val * price))).toFixed(2).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
      ros_min.innerHTML =  'GH₵' + ' ' + (eval((rosMin_rate/100)*(unit_val * price))).toFixed(2).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
      ros_max.innerHTML =  'GH₵' + ' ' + (eval((rosMax_rate/100)*(unit_val * price))).toFixed(2).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
    }

    units.oninput =()=>{
      popup.classList.remove('change')
      calculateTrans(units.value)  
    }
  </script>

  

</body>

</html>