{% load static %}
{% load humanize %}

  {% include 'makeHeader.html' %}
  <title>AgriVestAfrica - Make Farm</title>
  <link rel="shortcut icon" href="{{farm.image.url}}" />
  <header>
  <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar justify-content-center">
      <div class="container">
        <a class="navbar-brand" href="{% url 'dashboard' %}">
          <strong>AgriVestAfrica</strong>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-7"
          aria-controls="navbarSupportedContent-7" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </nav>
    <!-- Full Page Intro -->
    <div class="view"
      style="background-image: url('{{farm.image.url}}'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
      <!-- Mask & flexbox options-->
      <div class="mask rgba-gradient d-flex justify-content-center align-items-center">
        <!-- Content -->
        <div class="container">
          <br>
          <br>
          <br>
          <!--Grid row-->
          <div class="row">
            <!--Grid column-->
            <div class="col-md-6 white-text text-center text-md-center mt-xl-5 mb-5 ">
              <h1 class="h1-responsive font-weight-bold mt-sm-5 text-left animated tada slower">New Farm</h1>
              <hr class="hr-light">
            </div>
          </div>

        </div>
        <!--Grid row-->
      </div>
      <!-- Content -->
    </div>
    <!-- Mask & flexbox options-->
    </div>
    <!-- Full Page Intro -->
  </header>
  <!-- Main navigation -->
</head>

<body>
  <br>
  <br>
  <br>
  <!-- Section: Live preview -->
  {% if messages %}   
      <div class="messBox">
        {% for message in messages %} 
          {% if message.tags == 'error' %}
          <a href="{% url 'login_page' %}"><div class="text-center"><button type="button" class="btn btn-sm  btn-danger  btn-rounded">Create account to continue</div></a>
          {% else %}
          <a><div class="text-center"><button type="button" class="btn btn-sm  btn-danger  btn-rounded">{{message}}</div></a>
          {% endif %}
        {% endfor %}
      </div>
  {% endif %}
    <br>
    <br>
  <form method="post">
  <section class=" card container section-preview z-depth-1">
    {% csrf_token %}
    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-lg-3 col-md-12">
        <!-- Card Wider -->
        <div class="card card-cascade wider mb-4">

          <!-- Card image -->
          <div class="view view-cascade overlay view" style="position: relative";>
            <span class="badge badge-success mb-2">{{farm.start_date|timesince:farm.end_date}}</span>
            <img class="card-img-top" src="{{farm.image.url}}" alt="Card image cap">
            <a href="#!">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>

          <!-- Card content -->
          <div class="card-body card-body-cascade text-center">

            <!-- Title -->
            <h4 class="card-title"><strong>{{farm.name}}</strong></h4>
            <!-- Subtitle -->
            <h5 class="blue-text pb-2"><strong></strong></h5>
            <!-- Text -->
            <p class="card-text">{{farm.description|slice:":100"}} </p>

          </div>
        </div>
        <!-- Card Wider -->
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <!-- Card Narrower -->
        <div class="card card-cascade narrower">
          <!-- Card content -->
          <div class="card-body card-body-cascade">
            <p class="font-weight-bold text-center">Farm Details</p>
            <!--Grid column-->
            
            <br>
            <!--Grid column-->
            <!--Grid column-->
            <div class=" mb-4">
              <!--lastName-->
              <label for="lastName" class="">Expected Farm Schedule</label>
              <input type="text" id="schedule" class="form-control" value="{{farm.start_date|date:'jS b, Y'}} - {{farm.end_date|date:'jS b, Y'}}" readonly style="cursor: pointer; background-color: #d4edda; border: none; font-weight: 500;">
            </div>
            <div class="row">
              <!--Grid column-->
              <div class="col-lg-12">
                <label for="country">Choose Farm Partners</label>
                <select class="custom-select d-block w-100" id="country" name="partner" required>       
                  {% for partner in partners %}
                  <option value="{{partner}}">{{partner}}</option>
                  {% endfor %}
                </select>
              </div>
              <!--Grid column-->
            </div>
            <br>
            
            <br>
            <div class=" mb-4">
              <!--lastName-->
              <label for="lastName" class="">Preferred Name For Your Farm</label>
              <input type="text" id="lastName" class="form-control" name="farm_name" required>
            </div>

            <!--Grid column-->
            <!--Grid row-->
            <div class="row">
              <!--Grid column-->
              <div class="col-lg-12">
                <label for="country">Harvest Proceeds as:</label>
                <select class="custom-select d-block w-100" id="country" name="">
                  <option selected hidden value>select harvest type</option>
                  <option value="cash">cash</option>
                  <option value="trade">Roll On to Farm</option>
                </select>
              </div>
            </div>
            <br>
            
            <!--Material textarea-->
            <div class="md-form md-outline mb-3">
              <textarea id="form-message" class="md-textarea form-control" rows="5" name="extra_notes"></textarea>
              <label for="form-message">Extra Notes For Us To Consider</label>
            </div>
          </div>
          <!--Grid row-->
        </div>
      </div>


      <!-- Grid column -->
      <div class="col-lg-5 col-md-6 mb-4">
        <!-- Card Narrower -->
        <div class="card card-cascade narrower">
          <!-- Card content -->
          <div class="card-body card-body-cascade">
            <p class="font-weight-bold text-center">Farm Financial Summary</p>
            <div class="container my-5 py-3  rounded">
              <div class="row">
                <div class="col-lg-6 col-md-6 mb-4">

                  <label class="green-text"> Unit Cost [plot]</label>
                  <br>
                  <td class="font-weight-bold">
                    <strong>GHS {{farm.price|intcomma}}</strong>
                  </td>

                </div>
                <div class="col-lg-6 col-md-6 mb-4">
                  <label class="green-text">Profit Margin</label>
                  <br>
                  <td class="font-weight-bold">
                    <strong id="profit_margin" data-low="{{farm.ros_min}}" data-high="{{farm.ros_max}}">{{farm.ros_min}}%-{{farm.ros_max}}%</strong>
                  </td>
                </div>
                <!--Grid column-->
              </div>
              <div class="form-row mb-4">
                <div class="col">
                  <!-- First name -->
                  <input type="number" id="units" class="form-control"
                    placeholder="No of units" name="units">
                </div>
                <div class="col">
                  <!-- Last name -->
                  <input  type="text" id="land_size"  class="form-control" placeholder="1/8 of land" readonly style="background: transparent; cursor: pointer;">
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-lg-6 col-md-6 mb-4">
                  <label class="green-text"> Potential Ros(Low)</label>
                  <br>
                  <td class="font-weight-bold">
                    <strong id="pros_low"></strong>
                  </td>
                </div>
                <div class="col-lg-6 col-md-6 mb-4">
                  <label class="green-text">Potential Ros(High)</label>
                  <br>
                  <td class="font-weight-bold">
                    <strong id="pros_high"></strong>
                  </td>
                </div>
                <!--Grid column-->
              </div>
              <div class="row">
                <!--Grid column-->
                <div class="col-lg-6 col-md-6 mb-4">
                  <label class="green-text">+service charge</label>
                  <br>
                  <td class="font-weight-bold">
                    <strong id="service_span" data-serve="{{farm.service_charge}}"></strong>
                  </td>
                </div>
                <div class="col-lg-6 col-md-6 mb-4">
                  <label class="green-text">Total Cost</label>
                  <br>
                  <td class="font-weight-bold">
                    <strong id="price" data-price="{{farm.price}}"></strong>
                  </td>
                </div>
              </div>
              <hr>
              <!-- <div class="alert alert-success" role="alert">
                <p class="mb-0">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptates unde soluta
                  aperiam, est, animi maxime dolor doloribus, vitae nostrum id ipsa earum aspernatur ipsam voluptatum
                  asperiores nobis at porro libero!.</p>
              </div> -->
              <br>
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="materialUnchecked">
                <label class="form-check-label" for="materialUnchecked">Agree to all our <a href="">Terms</a> and <a
                    href="">Conditions</a></label>
              </div>
              <button type="submit" class="btn btn-rounded  z-depth-1a animated rotateIn slower " style="color: black;">
                <span><small>Pay</small></span>
              </button>
              <br>
              <hr>
            </div>
          </div>
        </div>
      </div>
      <!-- Grid column -->
    </div>
  </section>
  </form>
  <!--Section: Content-->
  <br>
  <br>
  <br>


  <script>
    const units = document.getElementById('units')
    const price = document.getElementById('price').dataset.price
    const total = document.getElementById('price')
    const pros_low = document.getElementById('pros_low')
    const pros_high = document.getElementById('pros_high')
    const service_charge = document.getElementById('service_span')
    const serve = document.getElementById('service_span').dataset.serve
    const ros_min = document.getElementById('profit_margin').dataset.low
    const ros_max = document.getElementById('profit_margin').dataset.high
    const amount = document.getElementById('amount')
    const land_size = document.getElementById('land_size')

    units.oninput = () => {
      service_charge.innerHTML = 'GHS' + ' ' + (Math.round((units.value * price) * (serve / 100))).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
      total.innerHTML = 'GHS' + ' ' + ((units.value * price) + Math.round((units.value * price) * (serve / 100))).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
      pros_low.innerHTML = '+' + ' ' + 'GHS' + ' ' + (Math.round((units.value * price) * (ros_min / 100))).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
      pros_high.innerHTML = '+' + ' ' + 'GHS' +' ' + (Math.round((units.value * price) * (ros_max / 100))).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
      land_size.value = (units.value/4) + ' ' + 'Achres'
    }

  </script>

  <!-- Footer -->

  <!-- Footer Elements -->
  <footer class="page-footer font-small green darken-3">
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2022 Copyright:
      <a href=""> AgriVestAfrica.com</a>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->



  <script type="text/javascript"
    src="https://mdbcdn.b-cdn.net/wp-content/themes/mdbootstrap4/docs-app/js/bundles/4.20.0/compiled.min.js"></script>


  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script type="text/javascript"
    src="https://mdbcdn.b-cdn.net/wp-content/themes/mdbootstrap4/docs-app/js/dist/search-v4/search.min.js"></script>
  <script src="https://mdbcdn.b-cdn.net/wp-content/themes/mdbootstrap4/docs-app/js/dist/main.min.js"></script>

  <script>
    AOS.init({
      duration: 1200,
    })
  </script>

</body>

</html>