{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'dashboard/dashboard.css' %}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
  <title>Agrivest - Dashboard</title>
</head>
<body>
  <section class="page">
    {% include 'Dashboard/sideBar.html' %}
    <section class="main">
      <div class="main_cover"></div>
      <section class="main_top">
        <div class="mt_left">
          <div class="box" id="mt_box">
            <i class="material-symbols-outlined" style="color: salmon;">numbers</i>
            <p>Total Transactions</p>
            <span>1250</span>
          </div>
          <div class="box" id="mt_box">
            <i class="material-symbols-outlined" style="color: skyblue;">payments</i>
            <p>Total Transactions</p>
            <span>Ghc 10,425</span>
          </div>
          <div class="box" id="mt_box">
            <i class="material-symbols-outlined" style="color: burlywood;">savings</i>
            <p>Total Balance</p>
            <span>Ghc 2,425</span>
          </div>
        </div>
        <div class="mt_right">
          <div class="box">
            <div class="quick_box swiper">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <i class="material-symbols-outlined">shopping_cart</i>
                  <a href="{% url 'trades_page' %}">Sponsor Trade</a>
                </div>
                <div class="swiper-slide">
                  <i class="material-symbols-outlined">agriculture</i>
                  <a href="{% url 'farms_page' %}">Sponsor Farm</a>
                </div>
                <div class="swiper-slide">
                  <i class="material-symbols-outlined">store</i>
                  <a href="{% url 'markets_page' %}">Buy Produce</a>
                </div>
              </div>
              <div class="swiper-pagination"></div>
              <div class="quick_prev"><i class="material-symbols-outlined">arrow_back_ios</i></div>
              <div class="quick_next"><i class="material-symbols-outlined">arrow_forward_ios</i></div>
            </div>
          </div>
        </div>
      </section>
      <section class="main_low">
        <section class="order_box">
          <div class="order_box_h">
            <p>Recent Orders</p>
            <form>
              <input type="text" placeholder="Search Here">
              <button><i class="material-symbols-outlined">search</i></button>
              <select name="" id="">
                <option selected hidden value="none">Filter</option>
                <option value="">Pending</option>
                <option value="">Active</option>
                <option value="">Completed</option>
              </select>
            </form>
          </div>
          <div class="order_box_con">
            <div class="con" id="conH">
              <div class="prod" style="justify-content: center;">
                <span>Order Name</span>
              </div>
              <p class="type">Order Type</p>
              <p class="date">Start Date</p>
              <p class="date">End Date</p>
              <p>Total Cost(Ghc)</p>
              <p class="status">Status</p>
            </div>
            {% if trades %}
              {% for trade in trades %}
                <a class="con" href="{% url 'tradeLog_info' trade.slug %}" style="color: black;">
                  <div class="prod">
                    <img src="{{trade.image_url}}" alt="">
                    <span>{{trade.trade_name}}</span>
                  </div>
                  <p class="type">Trade</p>
                  <p class="date">{{trade.start_date|date:'d b, Y'}}</p>
                  <p class="date">{{trade.end_date|date:'d b, Y'}}</p>
                  <p>{{trade.total_cost|intcomma|floatformat:2}}</p>
                  <p class="status">{{trade.status}}</p>
                  
                  {% if trade.status == 'Pending' %}
                  <div id="t_stat_tag" style="background: #ff6364;"></div>
                  {% elif trade.status == 'Active' %}
                  <div id="t_stat_tag" style="background: #00acea;"></div>
                  {% else %}
                  <div id="t_stat_tag" style="background: #aeecc1;"></div>
                  {% endif %}
                    
                </a>
              {% endfor %}
            {% endif %}
            
  
            
          </div>
        </section>
      </section>
    </section>
  </section>

  <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js" integrity="sha512-z4OUqw38qNLpn1libAN9BsoDx6nbNFio5lA6CuTp9NlK83b89hgyCVq+N5FdBJptINztxn1Z3SaKSKUS5UP60Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <script>
    var swiper = new Swiper('.quick_box', {
      direction: 'vertical',
      loop: true,
      speed:1500,
      autoplay:{
        delay:3000
      },
      pagination: {
        el: '.swiper-pagination',
      },
      navigation: {
        nextEl: '.quick_next',
        prevEl: '.quick_prev',
      },

      scrollbar: {
        el: '.swiper-scrollbar',
      },
    });
  </script>
  <script>
    const left = document.querySelector('.left')
    const left_top = document.getElementById('left_top')
    const user_con = document.querySelector('.user_con')
    const menu_a = document.querySelectorAll('[id=menu_a]')
    const menu_ab = document.querySelectorAll('[id=menu_ab]')
    const left_tag = document.getElementById('left_tag')
    const logout = document.getElementById('logout')
    const main = document.querySelector('.main')
    const main_cover = document.querySelector('.main_cover')

    const expand = document.getElementById('expand')
    const exp_menu = document.getElementById('exp_menu')
    expand.onclick =()=>{
      exp_menu.classList.toggle('change')
    }
  
  left_tag.onclick =()=>{
    handleScreen()
  }

  window.onresize =()=>{
    left_tag.onclick =()=>{
    handleScreen()
    }
  }

  const handleScreen =()=>{   
    if(window.innerWidth > 900){   
      left_tag.classList.toggle('change')
      left.classList.toggle('change')
      left_top.classList.toggle('change')
      user_con.classList.toggle('change')
      logout.classList.toggle('change')
      main.classList.toggle('change')
      menu_a.forEach(a=>{
        a.classList.toggle('change')
      })
      menu_ab.forEach(a=>{
        a.classList.toggle('change')
      })
      exp_menu.classList.toggle('mini')
    }else{
      left.classList.toggle('mini')
      main_cover.classList.toggle('change')
    }
  }
  </script>

  <script>
    const mt_boxes = document.querySelectorAll('[id=mt_box]')
    console.log(mt_boxes)

    for (let i = 0; i < mt_boxes.length; i++) {
      mt_boxes[i]
      console.log()
      anime({
        targets: mt_boxes[i],
        opacity : [0,1],
        translateY: [-100,0],
        duration: parseInt(800) * parseInt(i+1),
        delay: parseInt(300) * parseInt(i+1)
      });
    }
  </script>

</body>
</html>