{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'dashboard/dashboard.css' %}">
  <link rel="stylesheet" href="{% static 'dashboard/tradeLog.css' %}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
  <title>Agrivest - Dashboard</title>
</head>
<body>
  <section class="page">
    {% include 'Dashboard/sideBar.html' %}
    <section class="main">
      <div class="main_cover"></div>
      <section class="main_low" >
        <section class="prod_box">
          <div class="prod_box_info">
            <section class="tradeInfo_box">

              <div class="tb_left">
                <img src="{{farm.image_url}}" alt="">
              </div>
              <div class="tb_right">
                <section>
                  <span id="th">{{farm.farm_name}}</span>
                </section>
                <section>
                  <div>
                    <p><span id="s1">Unit Price[kg]</span> <span id="s2">Ghc {{farm.price|intcomma|floatformat:2}}</span></p>
                    <p><span id="s1">Units Bought</span> <span id="s2">{{farm.units}}</span></p>
                  </div>
                  <div>
                    <p><span id="s1">Base Cost</span> <span id="s2">Ghc {{farm.base_cost|intcomma|floatformat:2}}</span></p>
                    <p><span id="s1">Service Charge</span> <span id="s2">{{farm.service_charge}}%</span></p>
                  </div>
                  <div>
                    <p><span id="s1">Total Cost</span> <span id="s2">Ghc {{farm.total_cost|intcomma|floatformat:2}}</span></p>
                    <p><span id="s1">Pros(%)</span> <span id="s2">{{farm.profit_range_min}}% -{{farm.profit_range_max}}%</span></p>
                  </div>
                  <div>
                    <p><span id="s1">Start Date</span> <span id="s2">{{farm.start_date|date:'d b, Y'}}</span></p>
                    <p><span id="s1">End Date</span> <span id="s2">{{farm.end_date|date:'d b, Y'}}</span></p>
                  </div>
                  <div>
                    <p><span id="s1">Status</span> <span id="s2">{{farm.status}}</span></p>
                  </div>
                </section>
                

              </div>
            </section>  
            
            
          </div>
        </section>
      </section>
      
    </section>
  </section>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js" integrity="sha512-z4OUqw38qNLpn1libAN9BsoDx6nbNFio5lA6CuTp9NlK83b89hgyCVq+N5FdBJptINztxn1Z3SaKSKUS5UP60Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="{% static 'dashboard/dashboard.js' %}"></script>
</body>
</html>
