<div class="navigation-sidebar">
  <div class="navbar-sb-head d-flex justify-content-between align-items-center px-4">
      <h3 class="font-weight-bold"><a href="{% url 'dashboard' %}">AgriVestAfrica</a></h3>
      <button class="navbar-close-btn text-grey-blue">
          <i class='fas fa-arrow-left'></i>
      </button>
  </div>

  <div class="navbar-sb-list p-4">
      <div class="navbar-sb-item mb-5">
          <h5 class="text-uppercase text-grey navbar-sb-item-title fs-12 ls-1">recommended</h5>
          <ul class="navbar-sb-links p-0 list-unstyled">
              <li class="navbar-sb-link my-3">
                  <a href="#" class="text-decoration-none d-flex align-items-center justify-content-between">
                      <div class="text-light-blue d-flex align-items-center">
                          <span class="navbar-sb-text fs-14 fw-5 text-capitalize green-text">Telegram
                              Group</span>
                      </div>
                      <span class="badge text-uppercase text-blue">new</span>
                  </a>
              </li>
              <li class="navbar-sb-link my-3">
                  <a href="#" class="text-decoration-none d-flex align-items-center justify-content-between">
                      <div class="text-light-blue d-flex align-items-center">
                          <span class="navbar-sb-text fs-14 fw-5 text-capitalize green-text">WhatsApp
                              Group</span>
                      </div>
                      <span class="badge text-uppercase text-blue">new</span>
                  </a>
              </li>
          </ul>
      </div>

      <hr>
      <div class="navbar-sb-item mb-5">
          <h5 class="text-uppercase text-grey navbar-sb-item-title fs-12 ls-1"></h5>
          <ul class="navbar-sb-links p-0 list-unstyled">
                <li class="navbar-sb-link my-3">
                  <a href="#" class="text-decoration-none d-flex align-items-center justify-content-between">
                      <div class="text-light-blue d-flex align-items-center">
                          <span class="navbar-sb-text green-text"><a href="{% url 'dash_overview' %}">Overview</a></span>
                      </div>
                  </a>
              </li>
              <li class="navbar-sb-link my-3">
                <a href="#" class="text-decoration-none d-flex align-items-center justify-content-between">
                    <div class="text-light-blue d-flex align-items-center">
                        <span class="navbar-sb-text green-text"><a href="{% url 'dash_transactions' %}">Transactions</a></span>
                    </div>
                </a>
            </li>
  
              <li class="navbar-sb-link my-3">
                  <a href="#" class="text-decoration-none d-flex align-items-center justify-content-between">
                      <div class="text-light-blue d-flex align-items-center">
                          <span class="navbar-sb-text green-text"><a href="{% url 'profile_page' %}">Profile</a></span>
                      </div>
                  </a>
              </li>
              <!--  
              <li class="navbar-sb-link my-3">
                  <a href="#" class="text-decoration-none d-flex align-items-center justify-content-between">
                      <div class="text-light-blue d-flex align-items-center">
                          <span class="navbar-sb-text green-text"><a href="earn.html">Earn</a></span>
                      </div>
                  </a>
              </li>
              -->
              <li class="navbar-sb-link my-3">
                  <a href="#" class="text-decoration-none d-flex align-items-center justify-content-between">
                      <div class="text-light-blue d-flex align-items-center">
                          <span class="navbar-sb-text green-text"><a href="{% url 'dash_produce' %}">My Produce</a></span>
                      </div>
                  </a>
              </li>
      
          </ul>
      </div>
      <hr>
      <div class="navbar-sb-item mb-5">
          <ul class="navbar-sb-links p-0 list-unstyled">
              <li class="navbar-sb-link my-3">
                  <a href="#" class="text-decoration-none d-flex align-items-center justify-content-between">
                      <div class="text-light-blue d-flex align-items-center">
                          <span class="navbar-sb-text fs-14 fw-5 text-capitalize">logout</span>
                      </div>
                  </a>
              </li>
          </ul>
      </div>
  </div>
</div>