{% extends "Dashboard/dashboard.html" %}
{% load static %}
{% load humanize %}
  {% block cssBlock %}
  <link rel="stylesheet" href="{% static 'dashboard/tradeLog.css' %}">
  {% endblock cssBlock %}

  {% block main %}
  <section class="main">
    <div class="main_cover"></div>
    <section class="main_top">
      <div class="mt_left">
        <div class="box" id="mt_box">
          <i class="material-symbols-outlined" style="color: salmon;">numbers</i>
          <p>Total Trades</p>
          <span>{{trades.count|intcomma}}</span>
        </div>
        <div class="box" id="mt_box">
          <i class="material-symbols-outlined" style="color: skyblue;">payments</i>
          <p>Total Bought</p>
          <span>Ghc {{trades_bought|intcomma}}</span>
        </div>
        <div class="box" id="mt_box">
          <i class="material-symbols-outlined" style="color: burlywood;">savings</i>
          <p>Total Sold</p>
          <span> Ghc {{trades_sold|intcomma}}</span>         
          {% if trades_bal > '0' %}
          <p style="color:#7ac691;" id="trade_bal">+ {{trades_bal|intcomma}}</p>
          {% else %}
          <p style="color:#ff6364;" id="trade_bal">{{trades_bal|intcomma}}</p>
          {% endif %}
        </div>
        <div class="box" >
          <div style="width: 100%; height: 100%;display: flex; justify-content: center; align-items: center;">
            <canvas id="myChart"></canvas>
          </div>
        </div>
      </div>
    </section>
    <section class="main_low" >
      <section class="prod_box">
        <div class="prod_box_h">
          <p>Trades <br> </p>
          <form method="post" id="search_form">
            {% csrf_token %}
            <button><i class="material-symbols-outlined">search</i></button>
            <input type="text" placeholder="Search Here" name="search" id="search">
            <select name="status" id="status">
              <option selected hidden value="">Filter</option>
              <option value="Pending">Pending</option>
              <option value="Active">Active</option>
              <option value="Completed">Completed</option>
            </select>
          </form>
          <button id="prod_box_tag"><i class="material-symbols-outlined">arrow_downward</i></button>
        </div>
        <div class="prod_box_list">      
          {% if trades %}
            {% for trade in trades %}
            <a href="{% url 'tradeLog_info' trade.slug %}" id="prod_a">
              <div class="top">
                <p>
                  <span id="s1">{{trade.units|intcomma}} units</span>
                  <span id="s2">{{trade.name}}</span>
                </p>
                <div>
                  {% if trade.status == 'Pending' %}
                  <span id="s1" style="color: rgb(36, 194, 115);">Pay here</span>
                  <div id="stat_tag" style="background: #ff6364;"></div>
                  {% elif trade.status == 'Active' %}
                  <span id="s1" style="color: rgb(36, 194, 115);">{{trade.start_date|timesince:trade.end_date}} left</span>
                  <div id="stat_tag" style="background: #00acea;"></div>
                  {% else %}
                  <div id="stat_tag" style="background: #aeecc1;"></div>
                  {% endif %}
                    
                </div>
              </div>
              <div class="mid">
                <img src="{{trade.image_url}}" alt="">
              </div>
              <div class="low">
                <p><span id="s1">Cost</span> <span id="s2">Ghc {{trade.total_cost|intcomma}}</span></p>
                <p><span id="s1">Ros%</span> <span id="s2">{{trade.profit_range_min}} - {{trade.profit_range_max}}</span></p>
              </div>
            </a>
            {% endfor %}
            {% else %}
            <div class="empty_box">
              <a href="{% url 'trades_page' %}">
                <span class="material-symbols-outlined" id="tl">currency_exchange</span>
                <span class="material-symbols-outlined" id="tr">potted_plant</span>
                <button>Sponsor A Trade</button>
                <i class="material-symbols-outlined">shopping_cart</i>
              </a>
            </div>
            {% endif %}         
      </section>
    </section>
  </section>
  {% endblock main %}

  {% block scriptBlock %}
  <script src="{% static 'dashboard/swiper.js' %}"></script>
  <script>
    const ctx = document.getElementById('myChart');
    var penCount = parseInt('{{pend_count}}')
    var actCount = parseInt('{{act_count}}')
    var compCount = parseInt('{{comp_count}}')
    new Chart(ctx, {
      type: 'doughnut',
      data: {
        datasets: [{
          label: 'Order Count',
          data: [actCount,penCount, compCount],
          borderWidth: 1
        }]
      },
    });
  </script>
  {% endblock scriptBlock %}